<meta charset="utf-8" />
<h2>专辑体系</h2>

<h3>概述</h3>
<ol class="ui list">
	<li>友邻优课的所有音频内容均以“专辑”为集合进行区分，每个专辑中拥有多个“节目”；</li>
	<li>运营主管（内容）会依据与老师商定的更新频率对专辑内容进行更新；</li>
</ol>

<h3>添加专辑</h3>
<ol class="ui list">
	<li>添加专辑分为3个步骤：
		<ol>
			<li>专辑概况</li>
			<li>详细介绍</li>
			<li>推荐设置</li>
		</ol>
	</li>
	<li>添加专辑需要以下内容：
		<ol>
			<li>标题：最多15字</li>
			<li>分类：各种标签，多选</li>
			<li>教师：从教师列表选择</li>
			<li>上线时间：预设，年、月、日、小时</li>
			<li>封面图片：尺寸比例16:9；大小480*270</li>
			<li>一句话介绍：限20字</li>
			<li>专辑介绍：html编辑</li>
			<li>推荐
				<ol>
					<li>是否推荐</li>
					<li>位置：banner第几个，最多5个</li>
					<li>推荐图：大小</li>
					<li>开推时间：精确到日即可，具体时间为0点0分</li>
					<li>停推时间：精确到日即可，具体时间为0点0分</li>
				</ol>
			</li>
		</ol>
	</li>
</ol>

<h3>删除专辑</h3>
<ol class="ui list">
	<li>在操作前进行确认提醒；进行归档操作，防止误删造成重大损失；</li>
</ol>

<h3>修改专辑</h3>
<ol class="ui list">
	<li>若已上线，则不可修改上线时间；</li>
</ol>

<h3>查看专辑</h3>
<ol class="ui list">
	<li>上线状态；</li>
	<li>收听人数：专辑内所有节目的收听人数总和；</li>
	<li>喜欢人数：专辑内所有节目的点赞人数总和；</li>
	<li>收听人数：专辑内所有节目的收听人数总和；</li>
	<li>心得数：专辑内所有节目的心得数总和；</li>
	<li>节目列表：包括节目的【封面】、【名称】、【上线时间】、【时长】、【老师】、【心得数】、【收听人数】</li>
</ol>

<h3>页面原型</h3>
<ol class="ui list">
	<li>【专辑列表】界面原型图如下：
		<a href="img/prototype/admin/album/album-list.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/admin/album/album-list.png" />
		</a>
	</li>
	<li>【查看专辑】界面原型图如下：
		<a href="img/prototype/admin/album/album-info.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/admin/album/album-info.png" />
		</a>
	</li>
	<li>【创建专辑-步骤1】界面原型图如下：
		<a href="img/prototype/admin/album/album-create1.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/admin/album/album-create1.png" />
		</a>
	</li>
	<li>【创建专辑-步骤2】界面原型图如下：
		<a href="img/prototype/admin/album/album-create2.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/admin/album/album-create2.png" />
		</a>
	</li>
	<li>【创建专辑-步骤3】界面原型图如下：
		<a href="img/prototype/admin/album/album-create3.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/admin/album/album-create3.png" />
		</a>
	</li>
</ol>
