<meta charset="utf-8" />
<h2>节目体系</h2>

<h3>概述</h3>
<ol class="ui list">
	<li>友邻优课所有音频内容均以“节目”的形式呈现；</li>
	<li>内容运营人员在后台对节目进行编辑，运营主管（内容）负责发布节目；</li>
</ol>

<h3>添加节目</h3>

<ol class="ui list">
	<li>添加节目仅需填写<mark>标题</mark>、<mark>标签</mark>和<mark>教师</mark>，在专辑列表页面弹出modal填写即可;</li>
	<li>提交后跳转到查看节目页面，修改编辑其他信息</li>
</ol>

<h3>修改节目</h3>
<ol class="ui list">
	<li>封面图片：尺寸比例16:9；大小480*270；</li>
	<li>标题：最多15字；</li>
	<li>基本信息
		<ol>
			<li>标题：节目名称，限制20个字；</li>
			<li>上线时间：若已上线，则不可修改上线时间，定时上线或未上线状态时可以修改上线时间；(只有运营主管（内容）可以修改节目的上线状态);</li>
			<li>标签：从节目标签库中选择，多选；</li>
			<li>教师：从<code>本专辑</code>教师列表选择；</li>
			<li>初始收听人数：数字；</li>
			<li>初始喜欢人数：数字；</li>
		</ol>
	</li>
	<li>上传音频：若已有音频，则显示文件名及时长，并且可以播放/暂停，并修改/删除音频；若尚未上传音频，只显示长按钮“上传音频”</li>
	<li>节目内容：编辑人员根据需求添加元素，并进行编辑，具体规则如下；</li>
 </ol>


 <h3>内容样式</h3>
 <ol class="ui list">
 	<li>内容编辑人员会根据提前定义好的样式进行内容编辑；</li>
 	<li>编辑人员点击添加按钮后提示选择要添加的元素，确认后在页面中加入相应的元素，编辑人员根据提示边写文字（支持输入html控制颜色、加粗等样式）；</li>
 	<li>文字颜色默认为白色；</li>
 	<li>对已有的《每日新闻》专辑和《剧读莎士比亚》专辑进行分析，归纳总结出如下通用样式：
 	<table class="ui structured center aligned celled table">
 		<thead>
 			<tr>
 				<th class="one wide">类型</th>
 				<th class="two wide">子类型</th>
 				<th class="seven wide">样式</th>
 				<th class="six wide">备注</th>
 			</tr>
 		</thead>
 		<tbody>
 			<tr>
 				<td rowspan="2">卡片</td>
 				<td>标题</td>
 				<td>左侧黄色竖线</td>
 				<td>/</td>
 			</tr>
 			<tr>
 				<td>正文</td>
 				<td>普通文字</td>
 				<td>/</td>
 			</tr>
 			<tr class="warning">
 				<td>图片</td>
 				<td>/</td>
 				<td>宽度建议480，点击后弹出素材中心，可以上传不可以删除，具体见下方原型</td>
 				<td>/</td>
 			</tr>
 			<tr class="warning">
 				<td>列表</td>
 				<td>/</td>
 				<td>数字列表，列表中的项目需用户逐个添加</td>
 				<td>下方设置“添加项目”按钮</td>
 			</tr>
 			<tr>
 				<td>金句</td>
 				<td>/</td>
 				<td>border，1px，黄色，高度与输入内容高度相同</td>
 				<td>用于显示金句等</td>
 			</tr>
 		</tbody>
 	</table>
 	</li>
 </ol>

<h3>删除节目</h3>
<ol class="ui list">
	<li>在操作前进行确认提醒；进行归档操作，防止误删造成重大损失；</li>
</ol>

<!-- <h3>版本控制</h3>
<ol class="ui list">
	<li>用户每次保存都增加一个版本；</li>
	<li>需要进行版本控制，能找回历史版本，防止用户修改冲突；</li>
	<li>记录并显示：谁在什么时候提交的版本内容；</li>
	<li>点击加载相应版本；</li>
</ol> -->

<h3>查看节目</h3>
<ol class="ui list">
	<li>除可以编辑修改的信息外，还有以下内容：
		<ol>
			<li>时长：音频时长</li>
			<li>上线状态</li>
			<li>喜欢人数=实际+初始</li>
			<li>收听人数=实际+初始</li>
		</ol>
	</li>
	<li>写心得人数；</li>
	<li>心得数量；</li>
	<li>收听人数；</li>
</ol>

<h3>发布预览</h3>
<ol class="ui list">
	<li>在编辑时或者编辑后可以模仿手机App页面，以用户的角度进行预览；</li>
	<li>要求模仿手机端，以封面图片为背景，标题为导航栏标题，正文为内容； </li>
	<li>点击“在手机中预览”按钮，弹出二维码，编辑人员扫码后即可在手机中查看真实效果； </li>
</ol>

<h3>节目分析</h3>
<ol class="ui list">
	<li>热度分析：选择时间范围、教师，显示该教师在指定范围内每天课程的<code>实际</code>“收听人数”、“写心得人数”、“点赞人数”。； </li>
	<li>标签分析：扇形图显示各标签的人数占比。手动选择“收听”、“写心得”、“点赞”</li>
</ol>

<h3>页面原型</h3>
<ol class="ui list">
	<li>【查看节目】界面原型图如下：
		<a href="img/prototype/admin/programme/programme-info-full.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/admin/programme/programme-info.png" />
		</a>
	</li>
	<li>【添加图片】界面原型图如下：
		<a href="img/prototype/admin/programme/programme-info-add-img.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/admin/programme/programme-info-add-img.png" />
		</a>
	</li>
	<!-- <li>【编辑基本信息】界面原型图如下：
		<a href="img/prototype/admin/programme/programme-timed-release.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/admin/programme/programme-timed-release.png" />
		</a>
	</li> -->
	<li>【节目分析】界面原型图如下（未定稿）：
		<a href="img/prototype/admin/programme/programme-anal.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/admin/programme/programme-anal.png" />
		</a>
	</li>
</ol>
