<meta charset="utf-8" />
<h2>概述</h2>

<h3>用途</h3>
<ol class="ui list">
	<li>友邻优课后台管理系统主要为【运营人员】添加、删除、修改、查看产品数据使用；</li>
</ol>

<h3>时间规划</h3>
<ol class="ui list">
	因友邻优课从2016年11月8日起全新改版，后台管理系统需要提前7天正式上线。具体安排如下：
	<li>11月1日前完成【管理员】、【专辑】、【节目】相关功能；</li>
	<li>11月8日完成【用户】主要功能；</li>
	<li>11月15日完成【心得】、【打卡】主要功能；</li>
	<li>11月22日完成【用户】、【专辑】、【节目】全部功能；</li>
	<li>11月29日完成【心得】、【打卡】全部功能；</li>
</ol>

<h3>性能需求</h3>
<ul class="ui list">
	<li>内部使用无需考虑兼容性问题，规定运营人员使用最新版Chrome浏览器进行使用；</li>
</ul>

<h3>功能概述</h3>
<ul class="ui list">后台管理系统主要分为如下几个模块（左侧目录参考这里）：
	<li>
		概述：
		<ol>
			<li>运营概况：常用功能及产品核心指标；</li>
			<li>待办事项：运营人员的待办事项列表；</li>
			<li>第三方服务：数据统计等第三方平台入口；</li>
		</ol>
	</li>
	<li>
		专辑&节目：
		<ol>
			<li>专辑列表：专辑的增删改查入口；</li>
			<li>第三方服务：数据统计等第三方平台入口；</li>
		</ol>
	</li>
</ul>