<meta charset="utf-8" />
<h2>管理员体系</h2>

<h3>概述</h3>
<ol class="ui list">
	<li>管理员体系主要用于管理员的管理，包括添加、删除、修改基本信息及权限、查看管理员列表及信息功能；</li>
</ol>

<h3>添加管理员</h3>
<ol class="ui list">
	添加管理员，需要以下内容（默认无任何权限）：
	<li>用户名</li>
	<li>初始密码</li>
	<li>真实姓名</li>
</ol>

<h3>删除管理员</h3>
<ol class="ui list">
	<li>删除管理员记录，在操作前进行确认提醒；</li>
</ol>

<h3>修改管理员</h3>
<ol class="ui list">
	<li>用户名不可修改；</li>
	<li>姓名：修改用户的真实姓名</li>
	<li>职务：从上述6种角色中选择</li>
	<li>权限
		<ol>
			<li>友邻优课后台管理系统主要有如下6种角色：运营总监、运营主管（用户）、运营主管（内容）、用户运营、内容运营、财务。其中<code>运营总监有所有权限</code>，其他角色具体权限如下：
				<table class="ui center aligned celled table">
					<thead>
						<tr>
							<th>体系</th>
							<th>增加</th>
							<th>删除</th>
							<th>修改</th>
							<th>查询</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>专辑</td>
							<td>
								<div class="ui blue label">运营主管（内容）</div>
							</td>
							<td>
								<div class="ui blue label">运营主管（内容）</div>
							</td>
							<td>
								<div class="ui blue label">运营主管（内容）</div>
							</td>
							<td>
								<div class="ui blue label">运营主管（内容）</div>
							</td>
						</tr>
						<tr>
							<td>节目</td>
							<td>
								<div class="ui blue label">运营主管（内容）</div>
								<div class="ui grey label">内容运营</div>
							</td>
							<td>
								<div class="ui blue label">运营主管（内容）</div>
								<div class="ui grey label">内容运营</div>
							</td>
							<td>
								<div class="ui blue label">运营主管（内容）</div>
								<div class="ui grey label">内容运营（不可修改发布状态）</div>
							</td>
							<td>
								<div class="ui blue label">运营主管（内容）</div>
								<div class="ui grey label">内容运营</div>
							</td>
						</tr>
						<tr>
							<td>用户</td>
							<td>
								<div class="ui green label">运营主管（用户）</div>
								<div class="ui orange label">用户运营</div>
							</td>
							<td>
								<div class="ui green label">运营主管（用户）</div>
							</td>
							<td>
								<div class="ui green label">运营主管（用户）</div>
								<div class="ui orange label">用户运营</div>
							</td>
							<td>
								<div class="ui green label">运营主管（用户）</div>
								<div class="ui orange label">用户运营</div>
							</td>
						</tr>
						<tr>
							<td>心得</td>
							<td>/</td>
							<td>/</td>
							<td>/</td>
							<td>
								<div class="ui green label">运营主管（用户）</div>
								<div class="ui orange label">用户运营</div>
							</td>
						</tr>
						<tr>
							<td>打卡</td>
							<td>/</td>
							<td>/</td>
							<td>/</td>
							<td>
								<div class="ui green label">运营主管（用户）</div>
								<div class="ui orange label">用户运营</div>
							</td>
						</tr>
						<tr>
							<td>教师</td>
							<td>/</td>
							<td>/</td>
							<td>/</td>
							<td>/</td>
						</tr>
						<tr>
							<td>管理员</td>
							<td>/</td>
							<td>/</td>
							<td>/</td>
							<td>/</td>
						</tr>
					</tbody>
				</table>
			</li>
			<li>修改用户信息时，默认有如上5中选项，选择后列表中开放相应的权限；</li>
			<li>用户也可以在选定职务后自定义权限；</li>
		</ol>
	</li>
	<li>密码：直接修改，无需输入之前密码，主要使用场景为管理员忘记密码后由后台管理员重置。</li>
	<li>头像：用户自己上传</li>
</ol>

<h3>查看管理员</h3>
<ol class="ui list">
	<li>头像</li>
	<li>姓名</li>
	<li>用户名</li>
	<li>创建时间</li>
	<li>上次登录时间</li>
	<li>权限列表</li>
	<li>职务</li>
</ol>

<h3>页面原型</h3>
<ol class="ui list">
	<li>【管理员列表】界面原型图如下：
		<a href="img/prototype/admin/admin-list.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/admin/admin-list.png" />
		</a>
	</li>
	<li>【创建管理员】界面原型图如下：
		<a href="img/prototype/admin/admin-add.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/admin/admin-add.png" />
		</a>
	</li>
	<li>【查看管理员】界面原型图如下：
		<a href="img/prototype/admin/admin-info.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/admin/admin-info.png" />
		</a>
	</li>
	<li>【编辑管理员】界面原型图如下：
		<a href="img/prototype/admin/admin-edit.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/admin/admin-edit.png" />
		</a>
	</li>
</ol>