<meta charset="utf-8" />
<h2>素材中心</h2>

<h3>概述</h3>
<ol class="ui list">
	<li>用于存储所有富媒体素材（目前仅为图片）；</li>
	<li>主要供内容运营人员使用；</li>
</ol>

<h3>素材中心</h3>
<h4>本地上传</h4>
<ol class="ui list">
	<li>点击后选择本地文件，并上传；</li>
	<li>上传过程中可以看到文件名称、图片尺寸、上传进度、图片大小；</li>
	<li>图片要求：大小不超过5M；</li>
	<li>图片尺寸：建议宽度为480；</li>
</ol>

<h4>删除图片</h4>
<ol class="ui list">
	<li>点击删除按钮可以删除已上传的图片；</li>
</ol>

<h4>在节目中添加</h4>
<p>见节目体系</p>

<h4>页面原型</h4>
<ol class="ui list">
	<li>【素材中心】界面原型图如下：
		<a href="img/prototype/admin/material-center.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/admin/material-center.png" />
		</a>
	</li>
</ol>
