<meta charset="UTF-8">
<h2>节目心愿单</h2>
<h3>功能概述</h3>
<p>　　节目心愿单是用户和友邻优课互动的渠道，帮助我们吸收用户的需求和建议。</p>
<h3>节目心愿单</h3>
<a href="img/prototype/app/wish-list.jpg" target="_blank">
	<img style="border:0px" class="ui bordered image" src="img/prototype/app/wish-list.jpg" />
</a>
<p>　　心愿单在显示上与心得列表相同，自动折行。点击心愿单跳转到心愿单详情。</p>
<p>　　任意用户可查看心愿单列表，并对心愿进行【点赞】和【踩】，点击【点赞】或【踩】后相应数量+1,icon变色。用户只能选择点赞和踩中的一个（例如原来是点赞状态，点击【踩】后点赞数-1，点赞变成灰色，踩数+1，踩icon变成黄色</p>
<p>　　心愿单排序方式分为默认排序、时间排序和点赞排序</p>
<ol>
	<li>默认排序：按照时间和点赞数加权排序。</li>
	<li>点赞排序：按照点赞数由多到少降序排列。</li>
	<li>时间排序：按照时间由近到远排列。</li>
</ol>
<p>　　点击【写心得】跳转到写心得页面，点击【我的心愿】跳转到我的心愿页面</p>
<h3>心愿单详情</h3>
<a href="img/prototype/app/wish-info.jpg" target="_blank">
	<img style="border:0px" class="ui bordered image" src="img/prototype/app/wish-info.jpg" />
</a>
<p>　　此页面与心得详情类似，向用户展示全部的心愿单内容</p>

<h3>写心愿</h3>
<p>　　用户点击节目心愿单页面上的【写心愿】icon，如用户为初级学霸及以上级别，则跳转到写心愿页面；否则提示“初级学霸及以上才可以写心愿哦~”</p>
<a href="img/prototype/app/write-wish.jpg" target="_blank">
	<img style="border:0px" class="ui bordered image" src="img/prototype/app/write-wish.jpg" />
</a>
<p>　　点击发布时，如用户未填写内容，则提示“写点什么再发布吧~”。如用户未选择标签，提示“请选择一个标签吧”。</p>
<h3>我的心愿</h3>
<a href="img/prototype/app/my-wish.jpg" target="_blank">
	<img style="border:0px" class="ui bordered image" src="img/prototype/app/my-wish.jpg" />
</a> 
<p>　　页面显示我发布的心愿单列表，点击【删除】icon可删除该心愿。</p>
