<meta charset="UTF-8">
<h2>附录</h2>
<h3>附录说明</h3>
<p>　　附录包含了App中大部分的介绍和引导文案。</p>
<h3>优币介绍</h3>
<p>如何获取优币？</p>
<p>　　优币是友邻优课中的虚拟货币。用户可通过以下方法获取优币：</p>
<ol>
	<li>写心得：每日写下一篇心得，可领取5枚优币。</li>
	<li>完善个人资料：首次完善个人资料，可领取5枚优币。</li>
	<li>绑定手机：首次绑定手机，可领取5枚优币。</li>
</ol>

<p>优币用来做什么?</p>
<p>　　可在优币商城中用优币兑换商品。</p>
<h3>激活成功</h3>
<ol>
	<li>【昵称】，你好~我是友邻优课的大管家阿树</li>
	<li>恭喜您成功兑换【商品名】，您的会员到期时间为：【会员到期时间】。</li>
	<li>我的微信：【小答应微信】，长按下方图片保存二维码，到微信里加我为好友，并且将这个页面截图发给我哦。（如果你是老会员，就不需要加啦）</li>
	<li>【二维码】</li>
</ol>
<h3>我的管家</h3>
<p>　　首先，判断会员起始时间是否在11.8之后，如果是，则文案如下：</p>
<ol>
	<li>【昵称】你好，我是友邻优课的大管家阿树。</li>
	<li>很高兴在友邻优课，陪你一起睁眼看世界。</li>
	<li>我的微信【小答应微信号】，有问题可以随时微信联系我哟~</li>
	<li>【二维码】</li>
	<li>（也可以长按保存二维码在微信扫到我哦）</li>
</ol>
<p>　　如时间在11.8之前，文案如下：</p>
<ol>
	<li>【昵称】你好，我是友邻优课的大管家阿树。</li>
	<li>很高兴在友邻优课，陪你一起睁眼看世界。</li>
	<li>有问题可以随时微信联系我哟~
</ol>
<h3></h3>