<meta charset="utf-8" />
<h2>节目模块</h2>
<h3>模块概述</h3>
<p>　　节目模块由专辑以及各专辑下对应的节目组成。模块在节目【播放】的基础上，提供了节目的【下载】、【喜欢】、和在节目下【写心得】的功能</p>

<h3 id="流程图-1">流程图</h3>

	<a href="img/prototype/app/flowchart2.jpg" target="_blank">
		<img style="border:0px" class="ui bordered image" src="img/prototype/app/flowchart2.png" />
	</a>
<h3>知识页</h3>

<p>　　知识页面由上而下分为banner、专辑、节目三个栏目。</p>
	<a href="img/prototype/app/knowledge.jpg" target="_blank">
		<img style="border:0px" class="ui bordered image" src="img/prototype/app/knowledge.jpg" />
	</a>

<h4 id="banner">banner：</h4>

<p>　　图片和跳转链接均从接口拿取（最多6个banner），切换间隔为5000ms。</p>

<h4 id="专辑">专辑：</h4>

<p>　　显示全部专辑中标记为“推荐”的专辑，点击专辑跳转到专辑详情页。</p>

<h4 id="节目">节目：</h4>

<ul><li>未登录或非会员状态下，节目栏目title为“每日提升 | 免费”，栏目内显示免费专辑中的全部节目，按照时间倒序排列。栏目下的节目为标记为免费的节目，供非会员和未登录用户收听</li>
	
<li><p>会员状态下，该栏目title为“最新节目”，栏目内显示会员专辑中的全部节目，按照时间倒序排列。</p>

<p>　　点击节目跳转到节目播放页。节目默认一次加载5个，上拉加载时显示“正在加载”，如已加载完全部节目，文字提示“没有更多节目了”。</p></li>
</ul>

<h3 id="全部专辑">全部专辑</h3>

<p>　　点击知识页【全部】，跳转到全部专辑页面。</p>

	<a href="img/prototype/app/album-all.jpg" target="_blank">
		<img style="border:0px" class="ui bordered image" src="img/prototype/app/album-all.jpg" />
	</a>
	<p>　　全部专辑中包含一个对所有用户隐藏的免费专辑，专辑中所有节目均标记为免费，显示于“每日提升 | 免费”下</p>
<h3 id="专辑详情">专辑详情</h3>

<p>　　点击精选专辑或专辑目录中的专辑，跳转到专辑详情页。详情页有两个分页，专辑目录和专辑简介。</p>

<h4 id="专辑简介">专辑简介</h4>

	<a href="img/prototype/app/album-intro.jpg" target="_blank">
		<img style="border:0px" class="ui bordered image" src="img/prototype/app/album-intro.jpg" />
	</a>
<p>　　点击老师跳转到老师介绍页。</p>


<h4 id="专辑目录">专辑目录</h4>


	<a href="img/prototype/app/album-list.jpg" target="_blank">
		<img style="border:0px" class="ui bordered image" src="img/prototype/app/album-list.jpg" />
	</a>
<p>　　专辑目录页显示该专辑下的全部课程，按照时间倒序排列，并按照月份划分。点击月份收起该月份下的课程，再次点击则展开课程。 <br>
　　 <br>
　　上拉加载课程，一次加载10个（最多10个），加载时下方提示文案：上拉加载更多/正在加载节目/没有更多节目了。（如专辑下没有课程，提示文案“尚未上线，敬请期待”。） <br>
　　</p>



<h4 id="点击下载">点击【下载】：</h4>

<ul><li>如用户处于未登录状态，则跳转到登录页。</li>
<li>如当前登录为非会员账号（新用户），提示“成为会员，享受下载特权”【取消】【查看会员权益】，点击【查看会员权益】跳转到会员权益页，点击【取消】留在当前页面。</li>
<li>如当前登录为非会员账号（老用户），提示“续费会员，继续享受下载节目特权”【取消】【去续费】，点击【去续费】跳转到会员续费页面，点击【取消】留在当前页面。</li>
<li>如当前登录为会员账号，则添加该课程到下载列表中，节目下显示课程的下载进度（动画效果如右所示）。用户可到个人中心–&gt;下载管理查看。下载完成后toast“已下载，请到下载管理中查看”</li>
</ul>


<p>　　点击节目跳转到节目播放页。</p>

<h3 id="老师介绍">老师介绍</h3>

<p>点击专辑介绍下的老师跳转到老师介绍页。</p>



<h3 id="节目播放">节目播放</h3>


	<a href="img/prototype/app/course-player.jpg" target="_blank">
		<img style="border:0px" class="ui bordered image" src="img/prototype/app/course-player.jpg" />
	</a>
	
<h4 id="喜欢">【喜欢】</h4>

<ul><li>如用户未登录，点击【喜欢】跳转到登录页。</li>
<li>如未喜欢该课程，点击【喜欢】后心变为实心，喜欢数+1，该课程添加到个人中心-我喜欢的，toast“已添加到个人中心-我喜欢的”。</li>
<li>如已喜欢该课程，点击【喜欢】提示“确定不再收藏该节目吗”【取消】【确定】。点击确定，心由实心变为空心，喜欢数-1，该课程从个人中心-我喜欢的 删除。</li>
</ul>

<h4 id="下载">【下载】</h4>

<p>　　逻辑与专辑目录【下载】基本相同。（不同在于页面上无下载进度显示）</p>

<h4 id="播放进度">【播放进度】</h4>

<p>　　进度条左侧数字为已播放的时间，右侧数字为节目剩余的播放时间。用户拖动进度条可调整进度。如播放结束，提示“您已学完，写下并分享您的心得吧~”【取消】【确定】，点击【确定】显示写心得页面，点击【取消】留在当前页面。</p>



<h4 id="播放">【播放】</h4>

<p>　　点击【播放】时，如用户在非wifi环境下使用，提示“您正在使用数据网络，继续播放将产生流量费用”【暂停】【继续播放】，点击【继续播放】则继续播放，点击【暂停】则不播放。（每打开一次app只提醒一次）</p>



<h4 id="后退15秒前进15秒">【后退15秒】&amp;【前进15秒】</h4>



<h4 id="心得列表">【心得列表】</h4>

<p>　　点击【心得列表】跳转到心得列表页面，显示该课程下的心得。</p>



<h3 id="写心得">【写心得】</h3>

<p>　　点击节目播放页【写心得】按钮或在播放完的提示点击【确定】弹出写心得页面。</p>

	<a href="img/prototype/app/write.jpg" target="_blank">
		<img style="border:0px" class="ui bordered image" src="img/prototype/app/write.jpg" />
	</a>


<h4 id="定位">定位：</h4>

<p>　　打开播放页第一次弹出写心得即自动定位，显示为“定位中…” </p>

<ul><li>如定位成功，则显示为定位的地点（精确到城市）。</li>
<li>如定位失败，则显示“定位失败，请检查网络和权限设置”。点击可重新定位。</li>
</ul>



<h4 id="添加图片">【添加图片】</h4>

<p>　　最多选择9张图片，在一行中显示。长按删除图片。</p>



<h4 id="立即发布">【立即发布】</h4>

<ul><li>如心得无内容且未选择图片，则提示toast“写点什么再发布吧”</li>
<li>如心得有内容或选择了图片，则上传心得，并根据上传情况提示“图片处理中”–&gt;“上传中，请不要关闭该页面”，同时显示上传进度。</li>
</ul>


<p>　　如发布成功，则跳转到该节目的心得列表（页面title为发布成功），同时该心得添加到该节目下。如发布失败，提示toast“发布失败”。 <br>
　　 <br>
　　点击【保存并关闭】或点击窗口外的区域隐藏写心得窗口。</p>
