<meta charset="utf-8" />
<h2>概述</h2>
<h3>修订记录</h3>

<table class="ui center aligned celled table">
	<thead>
		<tr>
			<th>编号</th>
			<th>版本号</th>
			<th>修订日期</th>
			<th>修订描述</th>
			<th>修订人</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>v0.2</td>
			<td>1.0.2</td>
			<td>2016-12-26 13:00</td>
			<td>新增优币商城、节目心愿单和消息中心，补充了附录的内容</td>
			<td>徐越</td>
		</tr>
		<tr>
			<td>v0.1</td>
			<td>1.0.1</td>
			<td>2016-11-23 21:30</td>
			<td>上传需求文档第一版</td>
			<td>徐越</td>
		</tr>
	</tbody>

</table>
<h3>文档意义</h3>
<ol>
	<li>作为与开发沟通工具，确保需求传达的准确和有效性</li>
	<li>留档，方便相关成员全面、快速了解App的功能和逻辑</li>
</ol>

<h3>产品定位</h3>
<ul>
	<li>短期定位：在满足现有友邻优课用户听课需求的基础上，提供更多样化的功能以提升用户体验</li>
	<li>长期定位：pending...</li>
</ul>
<h3>功能结构图</h3>
<a href="img/prototype/app/app-structure.png" target="_blank">
	<img style="border:0px" class="ui bordered image" src="img/prototype/app/app-structure.png" />
</a>
