
<meta charset="UTF-8">
<h2>消息中心</h2>
<h3>功能概述</h3>
<p>　　消息中心向用户传递三类消息：系统通知、赞过我的、评论我的。</p>
<h3>系统通知</h3>
<a href="img/prototype/app/sys-not.jpg" target="_blank">
	<img style="border:0px" class="ui bordered image" src="img/prototype/app/sys-not.jpg" />
</a>
<p>　　系统通知包括两种:</p>
<ol>
	<li>学员的开通和续费</li>
	<li>新头衔的获得</li>
</ol>
<p>　　系统通知标题与其他类型的通知区分，用不同的颜色显示（图中为50b400)。</p>
<h3>评论我的</h3>
<a href="img/prototype/app/my-com.jpg" target="_blank">
	<img style="border:0px" class="ui bordered image" src="img/prototype/app/my-com.jpg" />
</a>
<p>　　当有人对用户的心得、节目心愿单、评论进行了评论或回复，通知会出现在评论我的分页下</p>
<p>　　当有未读的信息时，消息中心和对应分页上出现红点，点击或切换后消失。</p>
<h3>赞过我的</h3>
<a href="img/prototype/app/my-zan.jpg" target="_blank">
	<img style="border:0px" class="ui bordered image" src="img/prototype/app/my-zan.jpg" />
</a>
<p>　　当有人对用户的心得、节目心愿单和评论进行点赞，通知会出现在该分页下</p>