<meta charset="UTF-8">
<h2 id="优币商城">优币商城</h2>
<h3>功能概述</h3>
<p>　　在优币商城中，用户可用优币或人民币兑换虚拟或实物商品。</p>
<h3>商城页</h3>
<p>　　点击个人中心->优币商城跳转到优币商城页面。</p>
<a href="img/prototype/app/mall.jpg" target="_blank">
	<img style="border:0px" class="ui bordered image" src="img/prototype/app/mall.jpg" />
</a>
<p>　　点击商品跳转到商品详情页。</p>
<h3>商品详情</h3>
<a href="img/prototype/app/mall-intro.jpg" target="_blank">
	<img style="border:0px" class="ui bordered image" src="img/prototype/app/mall-intro.jpg" />
</a>
<p>　　点击立即购买跳转到订单确认页面。</p>
<h3>订单确认</h3>
<a href="img/prototype/app/order-confirm.jpg" target="_blank">
	<img style="border:0px" class="ui bordered image" src="img/prototype/app/order-confirm.jpg" />
</a>
<h4>地址</h4>
<p>　　默认选择默认地址。如无收货地址则显示为"请选择收货地址"。</p>
<p>　　点击地址跳转到选择地址页面，可选择已有的地址，也可以新增、编辑、删除。
	<a href="img/prototype/app/choose-add.jpg" target="_blank">
		选择地址
	</a>
</p>

<h4>【立即支付】</h4>
<p>　　点击【立即支付】(如用户未填地址，提示“请选择收货地址”)，在后台生成待支付的订单，跳转到订单详情（待支付），同时打开微信支付。</p>
<ol>
	<li>如用户取消支付，toast“用户取消支付”。</li>
	<li>如用户完成支付，则在待支付订单页面等待（显示等待动画），待返回支付成功，跳转到购买成功页面。</li>
</ol>
<h3>购买成功</h3>
<a href="img/prototype/app/buy-success.jpg" target="_blank">
	<img style="border:0px" class="ui bordered image" src="img/prototype/app/buy-success.jpg" />
</a>
<p>　　点击【我的订单】可跳转到我的订单页面，点击返回到商品详情页。</p>
<h3>我的订单</h3>
<p>　　点击优币商城【我的订单】跳转到我的订单页面。</p>
<a href="img/prototype/app/my-order.jpg" target="_blank">
	<img style="border:0px" class="ui bordered image" src="img/prototype/app/my-order.jpg" />
</a>

<p>　　订单分为5种状态：待支付、待发货、已发货、已完成、已取消。按照时间倒序显示。点击订单进入订单详情。</p>
<h3>订单详情</h3>
<a href="img/prototype/app/ddxiangqing.jpg" target="_blank">
	<img style="border:0px" class="ui bordered image" src="img/prototype/app/ddxiangqing.jpg" />
</a>
<br>
<b>待支付</b>
<p>　　用户在订单确认页点击【立即支付】则生成待支付订单，若用户在15min内未支付，则订单取消。</p>
<p>　　点击取消订单提示“确定取消订单吗”，确定则订单变为“已取消”订单。</p>
<b>待发货</b>
<p>　　订单支付后即为待发货状态。用户可修改收货地址。点击【修改】跳转到编辑地址页面。</p>
<b>已发货、已完成</b>
<p>　　处于发货和已完成状态的订单可以查看物流信息（缺少一个页面）。不可修改地址。已完成状态的订单可以删除。</p>
<b>已取消</b>
<p>　　已取消状态的订单可删除。</p>