<meta charset="utf-8" />

<h2>其他用户</h2>
<h3>模块概述</h3>
<p>　　其他用户向用户展示其他用户的信息：个人资料、Ta关注的人、关注Ta的人、Ta的心得，并提供【关注】的功能</p>
<h3 id="ta的资料页">Ta的资料页</h3>

<p>　　点击其他用户的头像可跳转到别人资料页。</p>
<a href="img/prototype/app/user-intro.jpg" target="_blank">
		<img style="border:0px" class="ui bordered image" src="img/prototype/app/user-intro.jpg" />
	</a>
<h4 id="关注">【关注】</h4>

<p>　　点击【关注】则关注该用户，该用户添加到我关注的人列表；同时【关注】变为【取消关注】，再次点击取消关注则取消关注该用户，按钮重新变成【关注】。</p>

<h4 id="个性标签-1">【个性标签】</h4>

<p>　　显示该用户的个性标签，点击可弹窗显示全部。</p>

<p>微信号：</p>

<ul><li>如该用户填写了微信号，并设为向其他人公开微信号，则显示该用户的微信号。</li>
<li>若该用户填写了微信号，未公开，则显示“Ta很神秘，没公开微信”。</li>
<li>若该用户未填写微信号，则显示“Ta还未填写微信号”。</li>
</ul>

<p>如用户未完整填写个人资料（个人中心-个人资料），则隐藏Ta的心得图片下方的资料部分。显示“完善个人信息后才可查看他人信息”，点击跳转到个人资料页（未登录状态下跳转到登录页）。</p>



<h3 id="ta关注的人">Ta关注的人</h3>

<p>　　点击别人资料页【关注】（非关注/取消关注那个关注），跳转到Ta关注的人页面。 <br>
　　页面title为“Ta关注的人”，在我关注的人页面基础上增加【关注】按钮，无关注的人时显示“Ta没有关注任何人”，其余相同。</p>



<h3 id="关注ta的人">关注Ta的人</h3>

<p>　　title为“关注Ta的人”，无粉丝时显示“Ta还没有粉丝哟”，其他与关注我的人页面相同。</p>



<h3 id="ta的心得">Ta的心得</h3>

<p>　　点击别人资料页Ta的心得区域可跳转到Ta的心得页。</p>
<a href="img/prototype/app/user-note.jpg" target="_blank">
		<img style="border:0px" class="ui bordered image" src="img/prototype/app/user-note.jpg" />
	</a>
<p>　　页面显示所有该用户心得（按照时间倒序）。</p>
