<meta charset="utf-8" />

<h2>心得模块</h2>

<h3>模块概述</h3>
<p>　　心得模块为用户提供了心得的feed流展示。功能目前包括【点赞】和【保存图片】</p>
<h3 id="全部心得">全部心得</h3>

<p>　　点击首页的【心得】分页切换到全部心得页面。</p>

<a href="img/prototype/app/all-note.jpg" target="_blank">
	<img style="border:0px" class="ui bordered image" src="img/prototype/app/all-note.jpg" />
</a>

<h4 id="发布时间">发布时间：</h4>

<ul>
	<li>如&gt;=1年前，显示为“xx年前”</li>
	<li>如&gt;=1月and &lt;1年，显示为“xx月前”</li>
	<li>如&gt;=1天and &lt;1月，显示为“xx天前”</li>
	<li>如&gt;=1小时and &lt;1天，显示为“xx小时前”</li>
	<li>如&gt;=1分钟and &lt;1分钟，显示为“xx分钟前”</li>
	<li>如&lt;1分钟，显示为“刚刚”</li>
</ul>

<h4 id="点赞">【点赞】</h4>

<p>　　点击【点赞】按钮按钮变为实心，点赞人数+1。</p>

<h4 id="图片">【图片】</h4>

<p>　　3×3显示，点击可查看大图。长按图片保存到相册，保存成功toast“已保存”</p>
</div>
</body>

</html>
<h3>心得详情</h3>
<p>pending</p>