<meta charset="utf-8" />
<div class="ui container center aligned">
	<h1>产品架构</h1>
	<a href="img/orgnization.png" target="_blank">
		<img class="ui huge rounded centered image" src="img/orgnization.png" title="点击查看大图"/>
	</a>
</div>
<ol class="ui list" style="margin-top:20px">
	<li>前端产品分为【App】、【微信服务号】、【网站】和【微信小程序】四个部分；</li>
	<li>所有前端产品共用<mark>同一</mark>后台管理系统；</li>
	<li>各子产品结构图见各自章节；</li>
</ol>
<h3>名词解释</h3>
<ol class="ui list" style="margin-top:20px">
	<li>【友邻学员】友邻优课的付费用户，以前叫做“会员”；</li>
	<li>【优课】不属于友邻优课学员课程中的课程，目前为各子品牌单独售卖的课程；</li>
	<li>【用户小答应/管家】每个用户在首次使用产品时会自动分配一个小答应，若用户在2016年11月8日前加入，不指定小答应，文案上显示“请联系您微信中的阿树老师或小答应”；</li>
</ol>
