<meta charset="utf-8" />
<div class="ui container center aligned">
	<h1>友邻优课需求文档</h1>
	<h3>工作计划</h3>
	<a href="https://www.teambition.com/project/578922d4fa658cf51304b866/tasks/scrum/57aad9f60a18cfb31dae7479" target="_blank">*（详情见Teambition相关项目）</a>

	<!-- <table class="ui celled table">
	  <thead>
	    <tr>
				<th class="two wide">日期</th>
				<th class="two wide">重大事件</th>
	    	<th class="three wide">App（大年）</th>
				<th class="three wide">WeChat（大林）</th>
				<th class="three wide">Admin（大胖）</th>
	    	<th class="three wide">运营相关（大家）</th>
	  	</tr>
		</thead>
	  <tbody>
	    <tr>
	      <td>11.14 - 11.20</td>
				<td>无</td>
	      <td>领取任务奖励、好友邀请券（直接领取）及激活码（淘宝发货，在App中输入）</td>
				<td>【赠送好友】功能</td>
				<td>生成激活码、用户管理</td>
	      <td>暂无</td>
	    </tr>
	    <tr>
	      <td>11.21 - 11.27</td>
				<td>无</td>
	      <td>【1.0.1版本上线】、优币商城</td>
				<td>【新手购买】功能</td>
				<td>细节优化、【商城订单】管理</td>
	      <td>暂无</td>
	    </tr>
	    <tr>
	      <td><div>11.28 - 12.05</div></td>
				<td>12.03 自媒体年会<br />12.05 媒体发布会</td>
				<td>【优币商城】、地址管理、【节目心愿单】</td>
				<td>【经销商】功能及后台接口</td>
	      <td>【节目心愿单】管理、【商城订单】管理</td>
	      <td>12.10线下投票</td>
	    </tr>
			<tr>
	      <td>12.06 - 12.12</td>
				<td>12.10 友邻同学聚会<br>12.12 淘宝双十二活动</td>
				<td>【送好友听】、App内支付</td>
				<td>【每日提升】功能（听课页面），用户购买信息后台接口</td>
	      <td>【送好友听】功能管理、财务管理</td>
	      <td>暂无</td>
	    </tr>
			<tr>
				<td><div class="ui red ribbon label">12.13 - 12.19</div></td>
				<td>无</td>
				<td>【评论】功能、【消息通知】</td>
				<td>【优课商城】</td>
				<td>【心得】管理、【优课商城】管理</td>
				<td>暂无</td>
			</tr>
			<tr>
				<td>12.20 - 12.26</td>
				<td>圣诞节</td>
				<td>【心得】列表优化（标签、城市、发布等）、【任务中心】优化</td>
				<td>【优课商城】相关后台接口</td>
				<td>【任务】管理</td>
				<td>暂无</td>
			</tr>
			<tr>
				<td><div class="ui red ribbon label">12.27 - 01.04</div></td>
				<td>元旦</td>
				<td>App内客服（小答应版）、搜索(通讯录人、课程)优化、推荐算法</td>
				<td>微信端用户使用数据接口</td>
				<td>收听数据管理</td>
				<td>暂无</td>
			</tr>
	  </tbody>
	</table> -->
	<h3>更新日志</h3>
	<span>* 文档中红色内容为更新部分</span>
	<table class="ui center aligned celled table">
		<thead>
			<tr>
				<th class="one wide">版本</th>
				<th class="two wide">更新时间</th>
				<th class="six wide">更新内容</th>
				<th class="two wide">涉及人员</th>
				<th class="one wide">上传人</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>2.0.0</td>
				<td>2017-3-4 01:05</td>
				<td>【App-2.0】新增学习日历等模块</td>
				<td>全体</td>
				<td>徐越</td>
			</tr>
			<tr>
				<td>2.0.0</td>
				<td>2017-2-20 20:00</td>
				<td>【App-2.0】完善知识模块、添加下载管理部分</td>
				<td>全体</td>
				<td>徐越</td>
			</tr>
			<tr>
				<td>2.0.0</td>
				<td>2017-2-16 20:27</td>
				<td>【App】新增2.0版本</td>
				<td>全体</td>
				<td>艺博</td>
			</tr>
			<tr>
				<td>1.0.2</td>
				<td>2016-12-29 03:05</td>
				<td>【Admin】新增用户相关功能，【App】文档完善</td>
				<td>大胖、大年、大林</td>
				<td>艺博、徐越</td>
			</tr>
			<tr>
				<td>1.0.1</td>
				<td>2016-12-14 22:20</td>
				<td>【WeChat】新增【优课商城】、【个人中心】功能（100%）</td>
				<td>大年、大林</td>
				<td>艺博</td>
			</tr>
			<tr>
				<td>1.0.0</td>
				<td>2016-11-24 20:00</td>
				<td>新增【App】一章</td>
				<td>大年、付頔威</td>
				<td>徐越</td>
			</tr>
			<tr>
				<td>0.2.3</td>
				<td>2016-11-16 23:52</td>
				<td>【WeChat】新增【经销商】功能（100%）</td>
				<td>大林、大年、付頔威</td>
				<td>艺博</td>
			</tr>
			<tr>
				<td>0.2.3</td>
				<td>2016-11-16 17:52</td>
				<td>【Admin】新增【用户体系】一章、【WeChat】新增【经销商】功能（80%）</td>
				<td>大林、大年、大胖、付頔威</td>
				<td>艺博</td>
			</tr>
			<tr>
				<td>0.2.2</td>
				<td>2016-11-14 17:52</td>
				<td>【WeChat】新增“赠送好友”功能</td>
				<td>大林、大年、付頔威</td>
				<td>艺博</td>
			</tr>
			<tr>
				<td>0.2.1</td>
				<td>2016-11-11 20:08</td>
				<td>新增【WeChat】一章</td>
				<td>大林、付頔威</td>
				<td>艺博</td>
			</tr>
			<tr>
				<td>0.1.6</td>
				<td>2016-11-11 20:08</td>
				<td>【Admin】新增【激活码体系】</td>
				<td>大胖、付頔威</td>
				<td>艺博</td>
			</tr>
			<tr>
				<td>0.1.5</td>
				<td>2016-10-28 22:05</td>
				<td>【升级狂欢-图文显示】大幅修改，上传了新需求和原型图。</td>
				<td>王贞众、大林</td>
				<td>艺博</td>
			</tr>
			<tr>
				<td>0.1.4</td>
				<td>2016-10-14 17:00</td>
				<td>【升级狂欢-建议收集】修改【文案】一项，添加了音频播放需求。</td>
				<td>王贞众</td>
				<td>艺博</td>
			</tr>
			<tr>
				<td>0.1.3</td>
				<td>2016-10-14 13:20</td>
				<td>【升级狂欢-建议收集】新增【文案】一项（内容还会更新），及字数限制功能。修改了原型图片。</td>
				<td>王贞众、大林</td>
				<td>艺博</td>
			</tr>
			<tr>
				<td>0.1.2</td>
				<td>2016-10-13 20:00</td>
				<td>【升级狂欢】中增加了【图文显示】、【消息通知】、【快递邮寄】三个模块</td>
				<td>王贞众、大林</td>
				<td>艺博</td>
			</tr>
			<tr>
				<td>0.1.1</td>
				<td>2016-10-13 15:54</td>
				<td>增加了【升级狂欢】系统的需求</td>
				<td>王贞众、大林</td>
				<td>艺博</td>
			</tr>
		</tbody>
	</table>

</div>
<script>
	// $('table tbody tr:first').addClass("active").addClass("ui");
	$('#btnStart').click(function() {
		location.href = $('.ui.menu[data-type="menu"] > .default-item').attr('href');
	});
</script>
