
<meta charset="UTF-8">

<h2>提示文案</h2>

<p>　　一个按钮时按钮默认文案：“我知道了”。多个按钮时按钮的左右或上下顺序遵从文档中的前后顺序。</p>

<h3>网络问题：</h3>

<ul>
	<li>飞行模式或没开通权限：无法连接到服务器，请检查你的网络设置。查看解决方案<br />toast：网络出错，请稍后再试</li>
	<li>服务器故障：服务器去学英语了，请通知阿树老师把它抓回来！ 好的</li>
</ul>

<h3>微信登录：</h3>

<ul>
	<li>已取消授权</li>
	<li>无法唤起微信客户端</li>
	<li>登录失败</li>
	<li>登录失效"您的登录已失效，请重新登录"重新登录</li>
</ul>

<h3>手机登录：</h3>

<ul>
	<li>登录失败，该手机号尚未绑定友邻优课账号。请使用微信登录后到“我”-“设置”页面绑定手机后重试。</li>
	<li>请输入正确的手机号码</li>
	<li>请输入正确的验证码</li>
	<li>登录失败，验证码不正确或已过期</li>
</ul>

<h3>绑定手机：</h3>

<ul>
	<li>请输入正确的手机号码</li>
	<li>你已经绑定过该手机号码</li>
	<li>绑定失败 验证码不正确或已过期</li>
	<li>该手机号已绑定过其他友邻优课账号</li>
	<li>请输入正确的验证码</li>
</ul>

<h3>上传图片：</h3>

<ul>
	<li>最多只能选择9张照片。</li>
	<li>图片不能大于5M</li>
	<li>发布失败 </li>
	<li>保存图片：已保存到相册</li>
</ul>


<h3>个人资料：</h3>

<ul>
	<li>昵称过长，最多25个字</li>
	<li>一句话介绍不能超过25个字</li>
	<li>同学资料：该同学尚未填写微信号</li>
	<li>下载管理：该文件已丢失，请重新下载</li>
	<li>打卡日历：已经是当前月</li>
	<li>我的心得；心得详情；我赞过的课程；我赞过的心得：删除失败</li>
	<li>Feed流点击心得：该心得已被删除</li>
	<li>关注：关注失败；取消关注失败</li>
	<li>个人资料：修改失败</li>
	<li>微信号：请输入正确的微信号</li>
</ul>



<h3>加好友</h3>

<ul>
	<li>“微信号：xxx，已复制到剪贴板，请到微信添加朋友页面粘贴并搜索” 取消 打开微信。点击打开微信则调出微信。</li>
	<li>该同学尚未填写微信号</li>
</ul>
<h3>首页</h3>
<ul>
	<li>非会员点课程：“成为友邻优课学员即可收听此课程” 立即入学 咨询阿树老师 取消。</li>
</ul>
<h3>专辑详情</h3>

<ul>
	<li>非会员点课程：“成为友邻优课学员即可收听此课程” 立即入学 咨询阿树老师 取消。</li>

	<li>下载：“成为友邻优课学员即可下载任意课程” 立即入学 咨询阿树老师 取消</li>
	<li>点击下载：请选择你要下载的课程</li>
</ul>

<h3>下载管理：</h3>

<ul>
	<li>删除：“确定删除已勾选的课程？” 取消 删除。</li>
	<li>删除专辑：“确定删除该专辑的所有课程？” 取消 删除</li>
	<li>非wifi状态点击继续或全部开始：“确定要使用流量下载课程？” 确定 取消</li>
	<li>清空：“确定要清空所有下载任务？” 确定 取消</li>
	<li>下载：无法下载，本地存储空间不足</li>
	<li>下载：请选择要下载的课程。</li>
</ul>

<h3>我的心得</h3>

<ul>
	<li>“确定删除这条心得吗” 确定 取消</li>
</ul>

<h3>播放页</h3>

<ul>
	<li>4g状态下点课程：“确定使用流量听课？不再提醒 确定 取消</li>
	<li>“上次听到xx:xx，继续收听？”重新开始 继续</li>
</ul>
<h3>写心得：</h3>

<ul>
	<li>写点什么再发布吧</li>
	<li>心得不能超过1200字</li>
	<li>发布成功</li>
	<li>每日发布心得，优币+5</li>
</ul>

<h3>其他提示</h3>

<ul>
	<li>关注：“确定不再关注xxx了吗？”确定 取消</li>
	<li>心得：“确定要删除这条心得吗？” 删除 取消</li>
	<li>注销：“注销后已下载的课程将被清空，确定要注销吗？”确定 取消</li>
</ul>

<h3>优币商城</h3>
<ul>
	<li>优币商城尚未上线，敬请期待</li>
</ul>