<meta charset="UTF-8">
<h2>附录</h2>


<h3>空白页图片及文案</h3>
<ol>

	<li>下载管理-课程：你还没下载的任何课程</li>
	<li>我的心得：你还没写过心得。学习除了大量输入之外，也要有内化和输出的过程</li>
	<li>关注：你还没有关注过其他同学。德不孤，必有邻</li>
	<li>粉丝：还没有同学关注你。心得质量高，粉丝才会多</li>
	<li>赞过的心得：你还未赞过其同学的心得。给认同的想法点赞，结交更多志同道合的朋友吧</li>
	<li>赞过的课程：你还未赞过任何课程。喜欢的课程，值得反复学习</li>
	<li>搜索结果：无搜索结果</li>
	<li>学习轨迹：没有学习记录</li>
	<li>心得-关注：你还没有关注其他同学，去发现里看看吧</li>
	<li>专辑-心得：暂无精选心得</li>
</ol>



<h3>金句</h3>
<ol>
	<li>时间是我们努力的尺子，丈量每一次你向上的坚持</li>
	<li>任何值得去的地方都没有捷径</li>
	<li>付出不亚于任何人的努力</li>
	<li>慢慢来，比较快</li>
	<li>在别人看不见的地方用力</li>
</ol>
<h3>网络问题解决方案</h3>
<p>1.检查网络权限是否打开</p>
<p>　　打开「设置」-「蜂窝移动网络」-「使用无线局域网与蜂窝移动的应用」，找到友邻优课，勾选「无线局域网与蜂窝移动数据」即可。</p>
<img class="ui app image" src="img/prototype/app2.0/appendix/netbug.jpg" />
<p>　　如果在「使用无线局域网与蜂窝移动数据的应用」中未能找到友邻优课，则依次进行以下操作：</p>
<ol>
	<li>在该列表中，关掉任意一款app的「无线局域网与蜂窝移动数据」权限。</li>
	<li>完全退出友邻优课，并重新打开。</li>
	<li>在是否允许友邻优课使用数据网络的提示中，点击允许，即可顺利联网。</li>
</ol>
<p>2.检查手机网络状态</p>

<p>　　查看手机是否开启Wifi或无线网络，信号差或打开飞行模式时，也无法联网。</p>

<p>3.检查网络配置</p>

<p>　　如出现在wifi状态下无法连接网络，但4g可以正常使用的情况，可尝试还原手机网络设置或者重启路由器。</p>

<h3>FAQ</h3>
<!--<p>
	学完后联网，不然只能统计上学习时间，无法自动打卡。
	成长值。
</p>-->
	<style>
	h4 {line-height: 1.5em;}
</style>
<div class="ui-container ui-border-bottom">
	<h4>Q1：我不是友邻同学，可以收听节目吗？</h4>
	<div class="ui-text-small">可以。为了让更多同学可以深入了解友邻优课，我们特别设定了“友邻开放日”这一活动。具体的活动流程可以关注友邻优课公众号，点击公众号底部菜单的「加入友邻」-「免费试听」详细了解该活动</div>，
</div>
<div class="ui-container ui-border-bottom">
	<h4>Q2：成为友邻同学有哪些好处？</h4>
	<div class="ui-text-small">成为友邻同学后，学员在学期内可享有完全自由的学习特权，海量节目不限时、不限量收听。并可随着等级提升，拥有更加尊贵的同学权益。</div>
</div>
<div class=" ui-container ui-border-bottom">
	<h4>Q3：我是老学员，要怎么续费？</h4>
	<div class="ui-text-small">点击「我」-「同学权益」-「立即续费」，随后按照页面步骤操作，即可完成续费。</div>
</div>
<div class="ui-container ui-border-bottom">
	<h4>Q4：学员开通后可以退订吗？</h4>
	<div class="ui-text-small">开通/续费学员资格属于虚拟交易，无法退订。</div>
</div>
<div class="ui-container ui-border-bottom">
	<h4>Q5：如何知道最新的推出的专辑/节目？</h4>
	<div class="ui-text-small">新节目推出后会第一时间更新在首页的第一张卡片里。在首页左滑可查看最近5天更新的课程。</div>
</div>
<div class="ui-container ui-border-bottom">
	<h4>Q6：如何知道目前有哪些专辑？</h4>
	<div class="ui-text-small">点击课程，在课程页的「专辑」栏目下可找到已上线的所有专辑。</div>
</div>

<div class="ui-container ui-border-bottom">
	<h4>Q7：如何了解我的学习情况？</h4>
	<div class="ui-text-small">点击首页卡片右上角的学习时长，可了解当日详细的学习轨迹。点击【我】-【学习日历】可查看每一日的学习轨迹，其中学习超过30分钟的日期会自动以红色标记。</div>
</div>

<div class="ui-container ui-border-bottom">
	<h4>Q8：如何获取和使用优币？</h4>
	<div class="ui-text-small">优币是友邻优课里的虚拟货币，每日发布一篇心得便可获得5枚优币。优币可在「优币商城」中用户兑换虚拟或实物商品。（商城暂未上线，敬请期待）</div>
</div>

<div class="ui-container ui-border-bottom">
	<h4>Q9：如何修改我的个人信息？</h4>
	<div class="ui-text-small">点击「我」页面的头像和昵称，可进入个人资料页，并对个人信息进行修改。</div>
</div>


