<meta charset="UTF-8">
<h2>附录</h2>


<h3>空白页图片及文案</h3>
<ol>

	<li>下载管理-课程：你还没下载的任何课程</li>
	<li>我的心得：你还没写过心得。学习除了大量输入之外，也要有内化和输出的过程</li>
	<li>关注：你还没有关注过其他同学。德不孤，必有邻</li>
	<li>粉丝：还没有同学关注你。心得质量高，粉丝才会多</li>
	<li>赞过的心得：你还未赞过其同学的心得。给认同的想法点赞，结交更多志同道合的朋友吧</li>
	<li>赞过的课程：你还未赞过任何课程。喜欢的课程，值得反复学习</li>
	<li>搜索结果：无搜索结果</li>
	<li>学习轨迹：没有学习记录</li>
	<li>心得-关注：你还没有关注其他同学，去发现里看看吧</li>
	<li>专辑-心得：暂无精选心得</li>
</ol>



<h3>金句</h3>
<ol>
	<li>时间是我们努力的尺子，丈量每一次你向上的坚持</li>
	<li>任何值得去的地方都没有捷径</li>
	<li>付出不亚于任何人的努力</li>
	<li>慢慢来，比较快</li>
	<li>在别人看不见的地方用力</li>
</ol>
<h3>网络问题解决方案</h3>
<p>1.检查网络权限是否打开</p>
<p>　　打开【设置】-【蜂窝移动网络】-【使用无线局域网与蜂窝移动的应用】，找到友邻优课，勾选【无线局域网与蜂窝移动数据】即可。</p>
<img class="ui app image" src="img/prototype/app2.0/appendix/netbug.jpg" />
<p>　　如果在【使用无线局域网与蜂窝移动数据的应用】中未能找到友邻优课，则依次进行以下操作：</p>
<ol>
	<li>在该列表中，关掉任意一款app的【无线局域网与蜂窝移动数据】权限。</li>
	<li>完全退出友邻优课，并重新打开。</li>
	<li>在是否允许友邻优课使用数据网络的提示中，点击允许，即可顺利联网。</li>
</ol>
<p>2.检查手机网络状态</p>

<p>　　查看手机是否开启Wifi或无线网络，信号差或打开飞行模式时，也无法联网。</p>

<p>3.检查网络配置</p>

<p>　　如出现在wifi状态下无法连接网络，但4g可以正常使用的情况，可尝试还原手机网络设置或者重启路由器。</p>

<h3>FAQ</h3>
<!--<p>
	学完后联网，不然只能统计上学习时间，无法自动打卡。
	成长值。
</p>-->
	<style>
	h4 {line-height: 1.5em;}
</style>
<div class="ui-container ui-border-bottom">
	<h4>Q1：我不是友邻同学，可以收听节目吗？</h4>
	<div class="ui-text-small">为了让更多同学可以深入了解友邻优课，我们特别设定了“友邻开放日”这一活动。具体的活动流程可以关注友邻优课公众号，点击【加入友邻】-【免费试听】即可详细了解该活动</div>，
</div>
<div class="ui-container ui-border-bottom">
	<h4>Q2：成为友邻同学有哪些好处？</h4>
	<div class="ui-text-small">成为友邻同学后，学员在学期内可享有完全自由的学习特权，海量节目不限时、不限量收听。将享有首映友邻优课App内的全部课程的（每天更新），并享受尊贵的同学权益。</div>
</div>
<!--<div class=" ui-container ui-border-bottom">
	<h4>Q3：我是老学员，要怎么续费？</h4>
	<div class="ui-text-small">请在微信中咨询您的阿树老师或小答应。</div>
</div>-->
<!--<div class="ui-container ui-border-bottom">
	<h4>Q4：学员开通后可以退订吗？</h4>
	<div class="ui-text-small">开通/续费学员资格属于虚拟交易，无法退订。但如果您在一年中收听时长&gt;500分钟且&lt;2000分钟，
		那么在学员到期时，系统会自动往您的友邻优课账户上存入（2000-已收听时长）×0.6元的金额，
		供您在优币商城或续费会员时使用。</div>
</div>-->
<div class="ui-container ui-border-bottom">
	<h4>Q5：如何知道最新的推出的专辑/节目？</h4>
	<div class="ui-text-small">对于学员用户，新节目推出后会第一时间更新在首页的第一张卡片里。在首页左滑可查看最近5天</div>
</div>
<div class="ui-container ui-border-bottom">
	<h4>Q6：如何知道目前有哪些专辑？</h4>
	<div class="ui-text-small">点击课程，在课程页面的「专辑」栏目下可找到已上线的所有专辑。</div>
</div>

<div class="ui-container ui-border-bottom">
	<h4>Q8：学员用户如何收听节目？</h4>
	<div class="ui-text-small">会员可在首页【最新节目】栏目下收听最新节目；也可以选择感兴趣的专辑，收听该专辑目录下的节目。</div>
</div>
<div class="ui-container ui-border-bottom">
	<h4>Q9：如何完成打卡任务？</h4>
	<div class="ui-text-small">每日在App内累积学习30分钟，即可在任务中心完成每日打卡任务。</div>
</div>
<div class="ui-container ui-border-bottom">
	<h4>Q10：如何查看别人的心得？</h4>
	<div class="ui-text-small">点击用户头像，在他/她的资料页可查看Ta写的心得。</div>
</div>
<div class="ui-container ui-border-bottom">
	<h4>Q11: 如何查看我的打卡记录？</h4>
	<div class="ui-text-small">点击【任务中心】右上角的【打卡日历】，可查看过往打卡记录和连续打卡的天数。</div>
</div>
<div class="ui-container ui-border-bottom">
	<h4>Q12: 如何看到我之前的打卡（笔记）内容？</h4>
	<div class="ui-text-small">在首页，点击左上角【个人中心】-->【我的心得】，可以查看过往的笔记内容。</div>
</div>
<div class="ui-container ui-border-bottom">
	<h4>Q13：什么是优币，怎样使用优币？</h4>
	<div class="ui-text-small">优币是友邻优课里的虚拟货币，在【个人中心】-->【优币商城】中可用积累的优币换取商品。（商城暂未上线，敬请期待）</div>
</div>
<div class="ui-container ui-border-bottom">
	<h4>Q14：如何获取优币？</h4>
	<div class="ui-text-small">每日分享一篇心得，可获取5枚优币。</div>
</div>
<div class="ui-container ui-border-bottom">
	<h4>Q15：如何登陆账号？</h4>
	<div class="ui-text-small">App处于未登录的情况下，点击首页左上角的头像，可选择【微信登录】或【手机登录】两种登录方式登录App。尚未在App内绑定手机号的用户无法使用手机登录，只能选择微信登录。</div>
</div>

<div class="ui-container ui-border-bottom">
	<h4>Q16：如何注销账号？</h4>
	<div class="ui-text-small">已登录账号的用户，进入个人中心，点击【设置】-->【注销账号】，即可注销当前账号。</div>
</div>
<div class="ui-container ui-border-bottom">
	<h4>Q17：如何修改我的个人信息？</h4>
	<div class="ui-text-small">点击【个人中心】-->【个人资料】，可对个人信息进行修改。</div>
</div>
<div class="ui-container ui-border-bottom">
	<h4>Q18：如何查看我的节目收听记录？</h4>
	<div class="ui-text-small">点击首页的收听时长，可直接进入-->【学习轨迹】,可查看过往的节目收听记录。</div>
</div>
<div class="ui-container ui-border-bottom">
	<h4>Q19：如何知道谁关注了我？</h4>
<div class="ui-text-small">点击【我】-->【关注】，可查看关注我的人。</div>
</div>


