<meta charset="utf-8" />
<style>
	p {
		text-indent: 2em;
	}
</style>
<h2>友邻优课2.0内测招募</h2>
<p>欢迎大家参与友邻优课App 2.0版本的内测申请。</p>
<p>首先要回答一个大家可能关心的问题：</p>
<h3>为什么我们要开发2.0版本?</h3>
<p>1.0版本上线后，我们收获了很多同学的热心反馈。也让我们有了不断去完善App的动力。但对App进行改进时，我们遭遇了一些瓶颈：由于技术选型的原因，即使持续迭代，App在流畅性、稳定性等方面页难以达到令人满意的程度。</p>
<p>所以经过慎重的考虑，也为了给大家一个不亚于任何App的体验，我们决定跳过小版本迭代，直接开发2.0版本。新版本采用全新技术和全新设计，几乎相当于开发了一个全新的App。</p>

<h3>2.0版本马上要跟大家见面了</h3>

<p>经过近2个月紧锣密鼓的开发，2.0版本目前已经基本开发完成，进入最后的测试阶段。我们邀请你成为第一个吃螃蟹的人。</p>
<p>参与本次内测的同学也将成为友邻实验室的首批成员。在今后的所有新产品发布前，都享有优先体验权。</p>

<h3>说说奖励</h3>
<p>blabla</p>
<h3>申请要求</h3>
<p>由于是友邻实验室的首批招募，我们对你还是有一点小要求的。</p>
<p>希望你</p>
<ul>
	<li>热爱友邻优课，愿意帮助友邻优课做的更好。</li>
	<li>乐于为产品提出建议。</li>
	<li>有善于发现问题的眼睛，能及时发现bug。</li>
</ul>
<h3>现在申请加入</h3>

<!--<ul>
	<li>微信号（如用户填写了微信号则无需显示）</li>
	<li>手机（平板）系统</li>
	<li>机型</li>
	<li>版本号</li>
	<li>appleid（仅ios填写）</li>
</ul>-->
<p>申请通过后，阿树老师会第一时间邀请你入群</p>
<p>申请截止时间2017-xx-xx</p>