<meta charset="utf-8" />
<h2>登录模块</h2>
<h3>概述</h3>
<p>　　用户可通过手机登录和微信登录两种方式登录app，登陆后根据账户身份可体验更多的App功能，</p>
<h3>登陆流程</h3>
	<img class="ui app image" src="img/prototype/app2.0/login/loginflow.png" />

<h3>微信登录</h3>
<p>　　登录页选择【微信登录】，若已安装并登录微信，则跳转到微信</p>
<p>　　登陆失败文案：“取消授权” "无法唤起微信客户端"</p>
	<img class="ui app image" src="img/prototype/app2.0/login/login.png" />

<h3>手机登录</h3>
<ol>
	<li>输入11位合法手机号后，【获取验证码】变为高亮显示。</li>
	<li>点击空白处，则输入框失去焦点，并隐藏键盘。</li>
	<li>手机登录所输入的手机号需满足条件a：手机号是合法的。b：该手机号曾在app中绑定过。</li>
</ol>


	<img class="ui app image" src="img/prototype/app2.0/login/mobile.png" />
<h4>点击【获取验证码】：</h4>

<ol>
	<li>如不满足条件a，则提示“请输入正确的手机号码”</li>
	<li>如满足条件a不满足条件b，则提示“登录失败，该手机号未绑定过友邻账号”，【获取验证码】变为【5秒后重试】并且不可点击，倒计时结束后按钮变回【获取验证码】。</li>
	<li>如满足条件a和b，则发送验证码到该手机号，【获取验证码】变为【120秒后重试】并且不可点击，120秒倒计时后，重新变为【获取验证码】。</li>
</ol>

<h4>点击【登录】：</h4>

<ol>
	<li>如不满足a，则提示“请输入正确的手机号码”</li>
	<li>如验证码长度&lt;5，提示“请输入正确的验证码”</li>
	<li>如手机号和验证码通过，则成功登录，跳转到首页。如未通过，提示“登录失败 验证码不正确或已过期”。</li>
</ol>

<h3>用户协议</h3>
<p>　　跳转网页。</p>
