<meta charset="utf-8" />
</style>
<h2>今天模块</h2>
<h3>概述</h3>

<p>对于学员用户，以“天”为单位，用卡片的形式显示每天更新的课程。非会员第一张卡片为引导购买的卡片，后面的卡片与会员一致。</p>

<img class="ui app image" src="img/prototype/app2.0/today/home.jpg" />
<h3>卡片列表</h3>
<ol>
	<li>第一个卡片为“今天”，向左侧滑动依次显示最近5天更新的内容；</li>
	<li>最后一个卡片左滑切换到课程页。</li>
	<li>双击底部Tab Bar时自动返回到第一个卡片。</li>
	<li>下拉刷新，如有更新，显示为最近的一天更新。</li>
</ol>

<h3>卡片详情</h3>
<p>卡片可上下滑动，每个卡片需要包括以下内容：</p>
<ol>
	<li><b>更新日期</b>以及<b>更新</b>的专辑数量<!--，如日期为今天，则显示为“今日”。--></li>
	<li><b>当日学习时长（单位分钟）</b>，显示截至刷新时间已学的分钟数</li>
	<li><b>课程列表</b>：当前日期内所有更新的课程，以及课程的相关信息。单个课程需要包括以下信息：<ol>
	<li><b>课程封面</b>：点击课程封面跳转到播放页。每日新闻讲解版在顶部，并且以大图展示。</li>
	<li><b>课程名</b></li>
	<li><b>老师、课程时长</b></li>
	<li><b>专辑名</b>：点击专辑名可跳转到对应的专辑详情页。</li>
</ol></li>
</ol>
<img class="ui app image" src="img/prototype/app2.0/today/home2.jpg" />
<ol>
	<li>会员点击课程跳转到对应的播放页</li>
	<li>非会员点击课程提示“成为友邻优课学员即可收听此课程” 立即入学 咨询阿树老师 取消。点击【立即入学】跳转到购买页，点击【咨询阿树老师】跳转到网易七鱼。</li>
</ol>

<h3>非会员卡片</h3>
<p>非会员第一张卡片样式及文案如下图，点击图片播放视频。</p>
<img class="ui app image" src="img/prototype/app2.0/today/novip1.jpg" />
<!--<p>视频播放完成或取消播放，即弹出提示框（提示文案待定）；三个选项：</p>
<ol>
	<li>立即报名：跳转到购买页。</li>
	<li>咨询阿树老师：跳转到学习管家页面。</li>
	<li>暂时不想学习：关闭弹窗。</li>
</ol>-->



<h3>搜索</h3>
<p>点击首页或知识左上角的【搜索】按钮，跳转搜索页面。输入要搜索的内容，点击键盘的确认，则显示搜索结果。</p>
<ol>搜索结果中需要对用户输入的关键字进行“高亮”处理。

	<li>课程：显示含有关键字的课程，包括课程标题、老师、所属专辑、时长。点击后进入相应课程。</li>
</ol>
<img class="ui app image" src="img/prototype/app2.0/search/Search-result.png" />

<h3 class="new">更新提醒</h3>
<ol class="new">当app有新版本时，在首页弹出更新提示。
	<li>title：发现新版本</li>
	<li>content：后台设置的内容</li>
	<li>button1立即更新：点击【立即更新】：安卓在APP内进行下载更新；iOS跳转到appstore对应页面。<br />
	安卓APP内下载显示下载进度，下载完成后自动打开安装包。</li>
	<li>button2取消：点击【取消】，如后台设置强制更新，则退出app；如非强制更新，则可正常使用app。</li>
</ol>

<h3>购买页</h3>
<p>非会员点击【立即报名】跳转到购买页，购买页可选则微信报名和支付宝报名两种方式。付款成功后会员时间相应延长，返回app跳转到<b>购买成功</b>页面。</p>

<img class="ui app image" src="img/prototype/app2.0/sth/buy.jpg" />
<h4>购买成功</h4>
<p>购买成功后，显示购买成功页，提示用户添加阿树老师。页面显示后台分配的阿树老师（头像、微信号信息）。点击【加好友】，则提示“xxx，已复制到剪贴板，请到微信添加朋友页面粘贴并搜索”取消 打开微信。点击【打开微信】则调出微信。</p>