<meta charset="utf-8" />
</style>
<h2>课程模块</h2>
<h3>概述</h3>
<p>课程模块类似于图书馆的索引，用户可以按照专辑-课程的方式找到已更新的所有课程。</p>
<h3>流程图</h3>
	<img class="ui app image" src="img/prototype/app2.0/knowledge/lessonflow.png" />
<h3>课程页</h3>



<ol>
	<li>搜索：同首页【搜索】</li>
	<li>播放按钮：点击跳转到正在播放的课程，如用户第一次登陆或未登录，则不显示播放按钮。</li>
	<li>banner：点击可跳转到专辑、课程以及外部链接，后台设置。</li>
	<li>每日新闻：展示最近更新的5个每日新闻解读课程，显示的信息包括：<b>课程封面、课程名、老师、课程标签、更新时间</b>。<!--其中更新时间如是今日，则显示“今日更新”，否则显示日期（如“3.14更新”）-->更新时间显示为“xx天前”。
	<br />—点击课程可直接跳转到播放页。点击>或最后的查看更多跳转到每日新闻讲解版的专辑详情。</li>
	<li>专辑：显示除每日新闻解读版外的所有专辑。点击专辑跳转到专辑详情页。
	<ol class="new">最近听过的专辑：
		<li>从昨天0时到当前时间内，最近听过的除每日新闻解读外的2个专辑（至多2个）为最近听过的专辑。</li>
		<li>最近听过的专辑显示在专辑列表的最前面，如无最近听过的专辑，则按照正常顺序显示。</li>
		<li>最近听过的专辑标记显示“最近听过”。</li>
		<li>每当课程页数据刷新时，更新最近听过的专辑。</li>
	</ol>
	</li>
<!--	-第一个专辑为最近两天内听过的除每日新闻外的专辑，XX集的右侧显示“最近听过”。<br />-->
	<!---未闭合的专辑显示“更新至XXX节”，已闭合的专辑显示“共XXX节”。</li>-->
</ol>

<p>P.S.课程及专辑封面需要做缓存处理，使用户在无网络情况下也能够浏览缓存中的图片。</p>
	<img class="ui app image" src="img/prototype/app2.0/knowledge/knowledge.jpg" />

<h3>专辑详情</h3>
<ol>
	<li>专辑详情最上方为专辑封面，<span class="new">封面上显示：专辑备注、已收听人数、点赞人数</span>。</li>
	<li>专辑详情最上方为专辑封面，点击播放专辑介绍视频。</li>
	<li>详情包含三个分页：<b>简介、课程以及心得</b>。进入专辑详情默认切换到<b>课程分页</b>。</li>
	<li>进入专辑详情或下拉刷新时加载课程，如没有网络，提示“网络出错，请稍后再试”。</li>
</ol>

<p>上拉到封面即将消失时，显示标题栏。标题栏包含<b>返回键、专辑标题、播放跳转按钮</b></p>
<p>若用户为非会员，则在专辑页面底部固定显示【立即报名】及【咨询阿树老师】按钮<!--，且播放按钮变为锁的样式，暗示不可点击-->。点击【立即报名】跳转到<b>购买页</b>,点击【咨询阿树老师】跳转到七鱼客服客服页面。</p>
	<img class="ui app image" src="img/prototype/app2.0/knowledge/joinnow.jpg" />

<h3>|　简介</h3>
<p>简介包含两个部分：</p>
<ol>
	<li>专辑的老师信息：显示<b>头像、名称、一句话介绍</b>。</li>
	<li>专辑的详细介绍，html格式</li>
</ol>
<h4 class="new">老师介绍页</h4>
<p class="new">点击专辑简介【老师头像】跳转到<b>老师介绍页</b>。</p>
<ol class="new">
	<li>页面包括<b>简介、专辑</b>两个分页。打开老师介绍页默认跳转到简介页。</li>
	<li>分页栏上方显示老师的<b>头像、名称、一句话介绍</b></li>
	<li>简介：显示<b>老师介绍、教育背景、职业履历</b>，从后台获取。教育背景、职业履历如没有则不显示。</li>
	<li>专辑：显示老师教授的专辑。每个专辑显示图片和专辑名称。点击跳转到对应的专辑详情页。</li>
</ol>
<div style="float:left;margin-right:50px;">
	<img class="ui app image" src="img/prototype/app2.0/knowledge/teacher1.png" /></div>
<img class="ui app image" src="img/prototype/app2.0/knowledge/teacher2.png" />
<h3>|　课程</h3>

<h4>课程列表</h4>
<p>点击课程时：</p>
<ol>
	<li>如用户未登录，则跳转到<b>登录页</b>。</li>
	<li>如用户为非会员，提示“成为友邻优课学员即可收听此课程” 立即入学 咨询阿树老师 取消。</li>
	<li>如用户为会员，则跳转到对应课程的<b>播放页</b>，自动播放。</li>
</ol>
<p>标记用已学过的课程（播放并记录了学习时间即算作已学过），以深色显示。</p>
<p>上拉加载时显示加载动画，一次加载10个课程。</p>

	<img class="ui app image" src="img/prototype/app2.0/knowledge/albumlesson.jpg" />
<h3 class="new">【筛选】</h3>
<ol class="new">
	<li>点击【筛选】时出现筛选菜单，筛选变为“取消”：</li>
	<li>每日新闻（解读和朗读）：按照时间筛选，2017-01、2017-02...</li>
	<li>由多个老师共同讲述的专辑：按照老师筛选，夏鹏、Miss Q...</li>
	<li>其他专辑：按照集数筛选，E1-E10，E10-E20，E10-E25...</li>
	<li>选择标签后课程列表显示相对应的课程。</li>
</ol>
<h4>【正序】/【倒序】</h4>
<p>点击排序可切换课程列表的排序状态：正序或倒序。</p>
<p>未闭合（完整更新）的专辑默认按照课程更新时间倒序排列（如每日新闻解读），已闭合的专辑默认按照更新时间正序排列（如莎士比亚）。</p>

<h4>【下载】</h4>
<p>点击下载：</p>

<ol>
	<li>如用户处于未登录状态，则跳转到登录页。</li>
	<li>如当前登录为非会员账号（新用户），提示“成为友邻优课学员即可下载任意课程” 立即入学 咨询阿树老师 取消。点击咨询小答应接入客服，点击立即入学跳转到购买页，点击取消留在当前页面。</li>
	<li>如当前登录为会员账号，跳转到<b>批量下载</b>页面。</li>
</ol>


<p>批量下载页，课程显示与列表页相同，可上拉加载。</p>
<ol>
	<li>已下载的课程左侧为灰色的勾，不可勾选。</li>
	<li>勾选想要下载的课程后点击【下载】，提示“已加入到下载队列”，返回课程列表。同时选中的课程添加到<b>下载中</b>并开始下载。若用户在非wifi环境下，点击【下载】则提示“确定要使用流量下载课程？” 确定 取消</li>
	<li>显示已选择下载多少课程：“已选择xx节课”</li>
	<li>若用户未勾选任何课程点击【下载】，提示“请选择要下载的课程”。</li>
</ol>
	<img class="ui app image" src="img/prototype/app2.0/knowledge/download.jpg" />


<h3>|　心得</h3>
<!--<p>该分页显示运营人员从该专辑下的心得中挑选的心得。（P.S.需要相应的后台功能：可将用户心得添加为精选心得，并管理这些心得）</p>-->
<p>该分页显示运营人员从该专辑下的精选心得（无节目和点赞信息），从后台获取。</p>
<!--<p>若该分页下无心得，则隐藏该分页。</p>-->
	<img class="ui app image" src="img/prototype/app2.0/knowledge/albumnote.jpg" />
<h3>下载管理</h3>
<p>下载管理包含3个分页：<b>课程、专辑和下载中</b>。打开下载管理默认切换到<b>课程分页</b>。</p>
<h4 class="new">占用空间和剩余空间大小</h4>
<p class="new">每个分页底部固定显示手机的总存储空间，以及剩余可用空间。例如：总空间25.8G，剩余2.1G。</p>
<h3>|　课程</h3>

<p><b>课程</b>分页显示所有已下载的课程，按照下载完成的时间倒序排列。无任何课程时显示默认的空白页。</p>
<p>每个已下载的课程显示如下信息：<b>课程封面、课程名、所属专辑、课程时长。</b></p>
<div style="float:left;margin-right:50px;">
	<img class="ui app image" src="img/prototype/app2.0/knowledge/dlesson1.jpg" /></div>
<img class="ui app image" src="img/prototype/app2.0/knowledge/dlesson2.jpg" />
<h4>【删除】</h4>
<p>点击【删除】则删除该课程。</p>
<h4>【批量管理】</h4>
<ol>
	<li>点击批量管理，可对课程进行批量操作，同时【批量管理】变为【取消】。点击【取消】则取消批量管理。</li>
	<li>点击【全选】选中所有已下载的课程，再次点击则全不选。</li>
	<li>勾选完成后，点击【删除】，提示“确定删除已勾选的课程？” 确定 取消。</li>
</ol>
<h3>|　专辑</h3>

<p>专辑分页将课程按照专辑分类。专辑信息包括<b>专辑封面、专辑名、已下载的课程</b>。点击专辑进入该专辑下已下载的全部课程。</p>
<h4>【删除】</h4>
<p>点击【删除】，提示“确定删除该专辑的所有课程吗”，确定则删除该专辑，以及该专辑下下载的所有课程。</p>
	<img class="ui app image" src="img/prototype/app2.0/knowledge/dalbum.jpg" />
<h4>专辑的下载详情</h4>



<p>显示该专辑下的所有已下载课程，按照课程更新顺序倒序排列。点击课程跳转到播放页，点击【删除】可从本地删除该课程。</p>
<!--<p>批量管理功能与<b>课程</b>分页基本相同。若用户将专辑下下载的的课程全部删除，则返回上级页面，该专辑消失。</p>-->
	<img class="ui app image" src="img/prototype/app2.0/knowledge/ddetail.jpg" />
<h3>|　下载中</h3>

<p>该分页显示未下载完成的课程。按照添加的时间倒序排列。</p>
<p>未下载完成的课程分为3种状态：<b>正在下载、等待下载、暂停下载。</b></p>
<ol>
	<li>正在下载：列表中只能有一个正在下载的课程。<!--点击可暂停，使处于暂停下载的状态。--></li>
	<li>等待下载：除了正在下载的课程外，在下载队列中需要等待下载的课程。<!--点击可使处于暂停状态。--></li>
	<li>暂停下载（下载失败）：<!--点击可加入到下载队列中，变为正在下载或等待下载状态。支持断点续传。在无正在下载的课程且非wifi环境下，点击处在暂停状态的课程，-->当列表中的课程都处于暂停下载的状态时，提示“列表中有未完成的下载，是否开始”取消 开始。点击开始则开始下载所有列表中的课程</li>
</ol>
	<p>打开app，如有未完成的下载任务，则全部为暂停下载状态。</p>
<!--<h4>全部开始&全部暂停</h4>
<p>点击【全部开始】则将所有任务加入到下载队列中，如是非wifi环境，弹出同样的非wifi条件提示。</p>
<p>点击【全部暂停】暂停所有任务。</p>-->
<h4>全部清空</h4>
<p>点击【全部清空】提示“确定要清空所有下载任务？” 确定 取消。点确定则清空下载中列表，显示默认空白页。</p>
	<img class="ui app image" src="img/prototype/app2.0/knowledge/downloading.jpg" />