<meta charset="utf-8" />
<h2>心得模块</h2>
<h3>概述</h3>
<p>　　心得由用户在播放模块发布心得后产生。心得单元包含的信息如下：</p>
<ol>
	<li>用户的头像、名称，点击<b>头像</b>进入对应的同学资料页</li>
	<li>用户所发的心得内容，包括文字和图片。点击图片可查看大图，长按弹出选项<b>保存图片</b> <b>取消</b>，点击【保存图片】提示“已保存到系统相册”。</li>
	<li>当只有一张图片时，按照原图比例显示图片。当图片为多张时，裁剪为1:1九宫格式排列。</li>
	<li>心得所对应的课程；显示课程的<b>封面、名称、老师</b>。点击课程可跳转到课程的播放页。</li>
	<li>心得的点赞数目。每个心得只能点赞一次，可以取消点赞。</li>
</ol>

<p>　　feed流中将心得的文本内容折行显示，多于6行的部分以"..."表示。对于自己的心得，在心得单元中显示【删除】按钮。</p>
<div style="float:left;margin-right:50px;">
	<img class="ui app image" src="img/prototype/app2.0/note/notefeed.jpg" /></div>
<img class="ui app image" src="img/prototype/app2.0/note/note.jpg" />
<h4>心得的发布时间</h4>
<p>当前时间-发布时间：</p>
<ol>
	<li>如&gt;=1年前，显示为“xx年前”</li>
	<li>如&gt;=1月且 &lt;1年，显示为“xx月前”</li>
	<li>如&gt;=1天且 &lt;1月，显示为“xx天前”</li>
	<li>如&gt;=1小时且 &lt;1天，显示为“xx小时前”</li>
	<li>如&gt;=1分钟且 &lt;1分钟，显示为“xx分钟前”</li>
	<li>如&lt;1分钟，显示为“刚刚”</li>
</ol>

<h3>关注</h3>
<p>　　关注页显示我关注的人的心得</p>
<ol>
	<li>如用户关注了别的同学，则关注页仅显示已关注的人的心得。</li>
	<li>如用户未关注任何人，或关注的人没有心得，则显示"你还没有关注其他同学，去发现里看看吧"，点击切换到发现分页。</li>
</ol>

<h3>发现</h3>
<p>　　最新心得按照时间倒序显示最新的心得。<b>关注</b>及<b>发现</b>均可下拉刷新。</p>
<img class="ui app image" src="img/prototype/app2.0/note/notefind.jpg" />
<h3>心得详情</h3>

<p>　　心得详情显示心得所有的文本内容，可在文本处长按复制心得的文本内容。</p>

<img class="ui app image" src="img/prototype/app2.0/note/notedetail.jpg" />

<h3>心得列表</h3>
<p>　　心得列表显示该课程的相关信息。包括课程的封面、课程名、老师。列表分为精选心得和最新心得两个栏目。</p>
<p>　　点击通知栏返回顶部。</p>
<h4>精选心得</h4>
<p>　　显示该课程下最新的精选心得。</p>
<ol>
	<li>如精选心得多于2个，则只显示两个最新的精选心得。同时下方显示【更多】按钮，点击可跳转到精选心得页面。</li>
	<li>课程下无精选心得，则隐藏精选心得栏目</li>
</ol>
<h4>最新心得</h4>
<p>　　显示该课程下的最新心得（以及心得总数），按发布时间倒序排列。</p>
<img class="ui app image" src="img/prototype/app2.0/note/notelist.jpg" />