<meta charset="utf-8" />
<style>
	p{
    text-indent:2em; 
}
</style>
<h2>个人中心模块</h2>
<h3>概述</h3>
<p>个人中心主要聚集了用户在App内产生的信息，如个人资料，我的笔记。同时也加入了一些实用功能，如绑定手机号、清理缓存等等。</p>

<h3>"我"页面</h3>
<p><b>我</b>页面包括如下内容：</p>
<ol>

	<li><b>用户的头像、昵称、一句话介绍、等级</b><br />：点击<b>头像</b>、<b>昵称</b>进入<b>个人资料</b>页面，点击等级进入<b>同学权益页面</b>。当用户无一句话介绍时，不显示。</li>
	<li><b>关注、粉丝、心得的数量</b>：点击分别进入关注、粉丝、我的心得页面</li>
	<br>
	<li><b>下载管理</b>；点击进入下载管理页面。</li>
	<li><b>我赞过的</b>：点击进入我赞过的页面。</li>
	<br>
	<li><b>我的心得</b>：点击跳转到我的心得页面。</li>
	<li><b>学习日历</b>：点击跳转到学习日历页面。</li>
	<br>
	<li><b>同学权益</b>：点击跳转到同学权益页面（网页）</li>
	<li><b>微信号</b>：显示我当前填写的微信号。如未填写微信号，显示“未填写”。点击跳转到修改微信号页面。</li>
	<li><b>优币商城</b>：该cell显示当前优币数量，点击提示“优币商城尚未上线，敬请期待”。</li>
	<br>
	<li><b>设置</b>及<b>播放按钮</b>：点击设置进入设置页面，点击播放按钮跳转到播放页。</li>
	<li><b>学习管家</b>：点击跳转到学习管家页面（购买成功页面）。</li>
</ol>
<p>如用户未登录，则个人中心如下右图所示，点击所有按钮均跳转到登录页面。</p>
<p>如用户已登录，但为非会员，则</p>
<ol>
	<li>点击同学权益提示：“成为友邻同学即可享受同学权益”立即入学 咨询小答应 取消</li>
	<li>点击学习管家跳转到网易七鱼</li>
	<li></li>
</ol>
<!--<div style="float:left;margin-right:50px;">-->
	<img class="ui app image" src="img/prototype/app2.0/me/me.jpg" /><!--</div>-->
<h3>个人资料</h3>
<p>个人资料包括的信息：<b>用户头像、昵称、userid、性别、生日、一句话介绍、行业、毕业学校以及城市。</b></p>
<ol>
	<li><b>昵称</b>：点击跳转到编辑昵称页面。编辑完成后，点击【返回】完成昵称修改。</li>
	<li><b>性别</b>：男/女。生日若用户未填写，则默认为1980-01-01。</li>
	<li><b>行业</b>，可选：IT互联网、文化传媒、通信电子、金融、学生、教育培训、医疗生物、政府法律工益、房产建筑、服务业、轻工贸易、机械重工、农林牧渔、化工能源、其他。</li>
	<li><b>一句话介绍</b>：如未填写，提示文案“介绍一下你自己”。点击进入一句话介绍编辑页面，最多输入25个字（右下角显示还可输入多少字）。点击完成，则保存修改。若输入了超过25个字，点击完成时，提示“请输入25个字以内”。</li>
	<li><b>毕业院校</b>：如未填写，默认文案“请填写您的毕业学校”。点击进入毕业学校编辑页面，与一句话介绍类似。</li>
</ol>
<p>在联网状态下，每修改一项便提交一次修改，提交时显示加载动画。
</p>
<div style="float:left;margin-right:50px;">
	<img class="ui app image" src="img/prototype/app2.0/me/meinfo.jpg" /></div>
<img class="ui app image" src="img/prototype/app2.0/me/onesentence.jpg" />
<h3>我赞过的</h3>
<h4>我赞过的心得</h4>
<p>显示我点赞的全部心得，按照点赞时间倒序排列。点击【点赞】按钮取消点赞，退出重进或下拉刷新后取消点赞的心得消失。</p>
<img class="ui app image" src="img/prototype/app2.0/me/melikenote.jpg" />
<h4>我赞过的课程</h4>
<p>显示我赞过的全部课程，点击课程跳转到课程播放页。</p>
<img class="ui app image" src="img/prototype/app2.0/me/melikelesson.jpg" />
<h3>粉丝及关注</h3>
<p><b>粉丝</b>及<b>关注</b>显示我的粉丝及我关注的人。用户信息包括：<b>头像、昵称、一句话介绍、学员等级</b></p>

<ol>
	<li>我关注的人显示为【已关注】，点击提示“确定不再关注XX了吗？”确认 取消，点击确认则【已关注】变为【关注】，下拉刷新后该用户从列表中消失。若未刷新点击关注则可再次关注该用户。</li>

	<li>点击用户跳转到资料页，可查看该用户的相关信息。</li>
	<li>粉丝显示关注我的人，逻辑相同。</li>
</ol>

<p>凡出现用户列表的页面，逻辑均与此页面类似。</p>
<div style="float:left;margin-right:50px;">
	<img class="ui app image" src="img/prototype/app2.0/me/mefans.jpg" /></div>
<img class="ui app image" src="img/prototype/app2.0/me/mefollow.jpg" />
<h3>我的心得</h3>
<ol>
	<li>进入我的心得页面默认显示全部心得，按照发布时间倒序排列。</li>
	<li>如无心得，则显示空白图“还没有留下心得”</li>
	<li>单个心得包含：<b>心得的发布时间</b>+<b>心得内容</b>，点击可进入心得详情。</li>
</ol>
<img class="ui app image" src="img/prototype/app2.0/me/mynote.jpg" />
<h4>【删除】</h4>
<p>点击删除，提示“确认删除该心得吗” 取消 确认。确认则删除该心得。</p>
<h3>微信号</h3>

<ul>
	<li>输入微信号后，点击【完成】，如微信号不合法，则提示“请输入正确的微信号”。</li>
	<li>默认选中向他人公开微信号，如用户选择关闭，则同学资料页不显示该同学的微信号。</li>
</ul>
<img class="ui app image" src="img/prototype/app2.0/me/wechat.jpg" />
<h3>同学权益</h3>
<p>页面包括的信息：</p>
<ol>
	<li>成长值进度条：显示当前成长值/达到下一级需要的成长值，进度条按照该比例显示。</li>
	<li>当前等级；会员到期时间xxxx-xx-xx，【立即续费】。点击续费跳转到支付页。</li>
</ol>
<p>点击成长值旁跳转到<b>常见问题</b>页面中成长值对应位置。</p>
<img class="ui app image" src="img/prototype/app2.0/me/vipstate.jpg" />
<p>共有普通同学、初级学霸、中级学霸、高级学霸以及超级学霸5个等级。学员当前等级每个等级对应不同的权益，点击出现弹窗。</p>
<img class="ui app image" src="img/prototype/app2.0/me/popup.jpg" />
<p>等级文案：</p>
<ol>
	<li>普通同学：入学即可成为普通同学</li>
	<li>你的当前等级</li>
	<li>成长值达到xxx，升级XXXX</li>
	<li>需超级学霸邀请方能升级</li>
</ol>
<p>权益弹窗文案（待定）</p>
<ol>
	<li>（普通）海量课程：</li>
	<li>（普通）社群活动：</li>
	<li>（普通）学习管家：</li>
	<li>（初级）友邻研习班：</li>
	<li>（中级）优币1.5倍：</li>
	<li>（高级）优币2倍：</li>
	<li>（高级）友邻实验室：</li>
	<li>（超级）友邻合伙人：</li>
</ol>



<!--<h4>专辑分类</h4>
<p>点击全部心得，弹出按专辑分类。</p>
<ol>
	<li>页面信息：全部心得（心得数）、专辑名（该专辑下的心得数）</li>
	<li>如用户在某一专辑下无心得，则不显示该专辑。如用户没有心得，则隐藏按专辑部分。</li>
	<li>点击专辑则勾选中该专辑，我的心得显示为该专辑下的笔记，按时间倒序排列，同时心得页title变为专辑名。</li>
</ol>-->

<!--
<h4>关注我的</h4>
<ol>
	<li>当有人关注了我，推送消息“XXX同学关注了你，快去看看吧”，点击推送跳转到消息中心-关注我的页面。</p>
	<li>该页面显示关注我的人的列表，按照关注时间倒序显示。每个用户显示的信息包括：用户头像、昵称、学员等级、关注时间。</li>
	<li>可关注关注了我的用户。逻辑同个人中心-关注页面。</li>
</ol>
<h4>赞过我的</h4>
<ol>
	<li>当有人点赞了我的心得，推送消息“XXX点赞了你的心得，快去看看吧”，点击推送跳转到消息中心-赞过我的页面。</li>
	<li>该页面显示别人点赞我心得的记录，按照点赞时间倒序显示。</li>
	<li>每一条包括的信息：用户头像、昵称、点赞我的时间、被点赞心得的部分内容。</li>
	<li>心得的部分内容：如心得有文字优先显示文字，如心得多于16个字，则仅显示前15个字，多出的部分以...表示。如心得无文字，则显示心得的第一张图片。</li>
</ol>-->

<h3>学习管家</h3>
<p>页面显示后台分配的阿树老师（头像、微信号信息）。点击【加好友】，则提示“xxx，已复制到剪贴板，请到微信添加朋友页面粘贴并搜索”取消 打开微信。点击【打开微信】则调出微信。</p>
<h3>设置</h3>
<ol>
	<li><b>绑定手机</b>：cell显示已绑定的手机号；若未绑定，则显示"尚未绑定"。点击跳转到绑定手机页面。</li>
	<li><b>常见问题</b>：点击跳转到网页。</li>
	<li><b>意见反馈</b>：点击提示“请到需要反馈问题的页面摇一摇”。</li>
	<li><b>清理缓存</b>：清理缓存显示缓存文件大小，单位MB，精确到小数点后一位。点击清理缓存，则清除播放产生的缓存文件，并提示“清理成功”，缓存变为0.0MB。</li>
	<li><b>关于我们</b>：点击跳转到关于我们页面。</li>
	<li><b>注销</b>：点击注销提示“注销后已下载的课程将被清空，确定要注销吗？”确定 取消。点击【确定】则注销登录，并跳转到<b>我</b>页面。</li>
</ol>
<img class="ui app image"  src="img/prototype/app2.0/me/setting.jpg" />
<h3>绑定手机</h3>


	<p>若已绑定手机，则页面标题为“修改绑定手机”；若未绑定手机，页面标题为“绑定手机”。</p>
<ol>
	<li>输入11位合法手机号后，【获取验证码】变为高亮显示。</li>
	<li>点击空白处，则输入框失去焦点，并隐藏键盘。</li>
	<li>手机登录所输入的手机号需满足条件a：手机号是合法的。b：该手机号未曾在app中绑定过。</li>
</ol>
<h4>点击【获取验证码】：</h4>

<ol>
	<li>如不满足条件a，则提示“请输入正确的手机号码”</li>
	<li>如满足条件a不满足条件b，则提示“你已经绑定过该手机号码”，【获取验证码】变为【5秒后重试】并且不可点击，倒计时结束后按钮变回【获取验证码】。</li>
	<li>如满足条件a和b，则发送验证码到该手机号，【获取验证码】变为【120秒后重试】并且不可点击，120秒倒计时后，重新变为【获取验证码】。</li>
</ol>

<h4>点击【绑定】：</h4>

<ol>
	<li>如不满足a，则提示“请输入正确的手机号码”</li>
	<li>如验证码长度&lt;5，提示“请输入正确的验证码”</li>
	<li>如手机号和验证码通过，则成功绑定，返回上一级页面。如未通过，提示“绑定失败 验证码不正确或已过期”。</li>
</ol>
	
<h3 class="new">摇一摇反馈开关（2.0.1新增）</h3>
<ol>
	<li>开关默认为开启。用户可通过点击开关控制摇一摇反馈功能的开启和关闭。</li>
	<li>在需要反馈的页面摇一摇，则提示<br />title：“请问需要反馈什么问题？”<br />content：“你可以在设置里关闭和开启这个功能”<br />button：<ol>
		<li>“我要提建议”</li>
		<li>“我要反馈bug”</li>
		<li>“关闭摇一摇反馈”：点击则开关变为关闭</li>
		<li>“不小心摇了一下”</li>
	</ol></li>
</ol>
 
<h3>关于我们</h3>
<img class="ui app image"  src="img/prototype/app2.0/me/about.jpg" />
<p>显示<b>应用logo、应用名及版本号</b>。</p>
<ol>
	<li><b>访问官方网站</b>：跳转链接www.ylyk.com。</li>
	<li><b>关注微信公众号</b>：点击提示“微信搜索“友邻优课”即可关注”</li>
	<li><b>查看隐私政策及许可协议</b>：跳转网页。</li>
</ol>
