<meta charset="utf-8" />
</style>
<h2>播放模块</h2>
<h3>概述</h3>
<p>播放模块是app最为核心的模块，用户可以在播放模块完成播放课程、写心得&发布心得的过程。</p>

<h3>当前播放</h3>
<p>点击课程或右上角的播放按钮可跳转播放页。关闭重新打开app，点击右上角的播放按钮，则跳转播放页，播放保持上次退出时的进度，并处于暂停状态。</p>

<img src="img/prototype/app2.0/play/play.gif" />

<h3>播放页</h3>

<ol>
	<li>打开播放页时，如用户在非wifi环境下使用，则不加载内容和音频，提示“确定使用流量听课？不再提醒 确定 取消，点击【确定】则正常播放，点击取消则返回上级页面，点击不再提醒则不再弹出类似提示。</li>
	<li>如用户已下载或缓存了该课程，则无流量提示。</li>
	<li>打开播放页自动播放。如上次未听完该课程，则提示“上次播放到xx:xx，是否继续”继续 取消。继续则跳转到上次播放位置播放。取消则直接开始播放。</li>
	<!--<li>iPad播放页支持横屏显示，具体显示效果参看设计稿</li>-->
</ol>

<h4>下载</h4>
<p>点击【下载】，则提示“已加入下载队列”。下载成功后，图标变为已下载图标。提示“下载成功”。</p>
<img class="ui app image" src="img/prototype/app2.0/play/play.png" />
<!--<h3>PPT</h3>

<p>显示后台在该节课下添加的ppt素材，每个图片/视频有一个对应的时间点。每个课程在0:00时，默认显示该课程的课程封面。当课程没有添加ppt素材时，则只显示课程封面。</p>
<p>课程封面上显示该节目的<b>节目名称、所属专辑、老师</b>，点击老师可跳转到老师介绍页。</p>-->
<!--
<h4>显示/隐藏PPT</h4>
<p>点击下拉按钮显示ppt，点击上拉按钮或上拉图片隐藏ppt，切换课程继承ppt的显示/隐藏状态。</p>
<p>切换课程时，如显示ppt部分，则课程材料在ppt部分的下方。点击隐藏后，材料上移到顶部。需保证在ppt存在时也能完整浏览材料内容。</p>
<div class="v201">
<h4>视频播放</h4>
<p>播放视频时，如音频正在播放，则自动暂停音频。暂停或退出视频播放后音频自动播放（若音频为手动暂停，则视频暂停播放不自动播放音频）</p>

<h4>PPT切换方式</h4>
<p>切换方式参照音乐播放软件的歌词切换方式。</p>
<ol>
<li>未滑动图片时，图片随播放进度改变（调进度同样改变）。</li>
<li>滑动可查看所有图片，且播放进度不随图片改变。</li>
<li>未滑动超过5秒（包括按住图片），自动按照时间显示图片。</li>
</ol>
</div>
<img class="ui app image" src="img/prototype/app2.0/play/ppt.jpg" />-->

<h3 class="v206">正文部分</h3>
<div class="v206">
<p>正文部分的最上方显示课程的<b>标题、所在专辑、老师名称、封面</b>。标题如较长则两行显示</p>
<h4>音频切换</h4>
<ol>
	<li>当一个课程下有多个音频时，显示选择音频部分。</li>
	<li>打开课程时，默认播放第一个音频，按钮显示音频名称。</li>
	<li>点击音频名称打开弹窗，可选择其他音频。已选中的音频为选中状态，如图。点击已选中的音频无反应，点击其他音频则关闭弹窗并切换至选中的音频。同时按钮显示为选中的音频名。</li>
	<li>下载音频则将多音频同时下载下来，在下载管理中仍显示为1节课。</li>
</ol>
<p>音频切换下方显示课程材料。</p>
<img class="ui app image" src="img/prototype/app2.0/play/zhengwen.png" />
</div>
<h3>播放条</h3>
<p>进度条左边为已播放的时间，右边为剩余的播放时间</p>
<img class="ui app image" src="img/prototype/app2.0/play/playtiao.jpg" />
<div class="v205">
<h4>音频切换</h4>
<ol>
	<li>当一个课程下有多个音频时，显示音频切换按钮。</li>
<li>打开课程时，默认播放第一个音频，按钮显示音频名称。</li>
<li>点击音频名称打开弹窗，可选择其他音频。已选中的音频为选中状态，如图。点击已选中的音频无反应，点击其他音频则关闭弹窗并切换至选中的音频。同时按钮显示为选中的音频名。</li>
<li>下载音频则将多音频同时下载下来，在下载管理中仍显示为1节课。</li>
</ol>
</div>

<h4 class="v203">音频加载中</h4>
<ol class="v203">
	<li>音频播放因非人为因素（网络状况等）暂停播放时，播放按钮显示加载动画。
<img style="height: 30px;width: 30px;" src="img/prototype/app2.0/play/loading.gif" /></li>
	
	<li>如15s内仍未成功加载，则提示alert“网络状况不佳，建议更换4G或者Wifi” 好的。</li>
</ol>

<h3>|　播放列表</h3>

<p>显示跳转之前已加载的课程列表信息。</p>
<ol>
	<!--<li>从专辑-课程进入播放，播放列表显示专辑中已加载的课程列表。（如列表倒序也按照倒序显示）<br />播放列表名称为：专辑名</li>-->
	<li>从下载管理-专辑打开播放页：播放列表显示专辑中已下载的<br />播放列表名称：专辑名</li>
	<li>从下载管理-课程打开播放页：按照下载管理-课程的顺序显示已下载的所有课程<br />播放列表名称：下载列表</li>
	<li>从首页进入播放页：按照时间倒序显示<b>当天</b>已下载的所有课程<br />播放列表名称：更新的日期，如“2月14日”</li>
	<li>从右上角的播放进入播放页：保持当前的播放列表。</li>
	<!--<li>如用户点击心得内的课程跳转到播放页，则播放列表只显示该课程。<br />播放列表名称：播放列表</li>-->
</ol>
<h4 class="v201">播放方式</h4>
<p class="v201">点击播放方式按钮，可切换播放方式。</p>
<ol class="v201">
	<li>顺序播放：按照播放列表顺序自动播放课程，最后一节播放完毕从头开始播放</li>
	<li>单节循环：自动循环播放当前课程。</li>
	<li>单节播放：播放完当前课程后自动停止播放，并提示toast“单节播放完毕”</li>
	<li>播放方式在切换课程后不改变。</li>
</ol>

<p>每次点开播放列表，正在播放的课程默认在可见区域的最上方。</p>
<img class="ui app image" src="img/prototype/app2.0/play/playlist.jpg" />

<h3>|　前进、后退10秒</h3>

<h3>|　播放/暂停</h3>
<ol>
	<li>可通过耳机控制播放暂停</li>
	<li>打电话/接电话时自动暂停，接完电话自动继续播放</li>
	<li>离线及在线状态可统计时长，并在播放页中显示</li>
</ol>


<h3>|　功能菜单</h3>

<p>页面右下角的功能菜单里包含点赞、心得、调节字号、倍速播放功能，</p>
<h4>1.点赞</h4>

<p>点击喜欢，则课程的喜欢数+1，该课程添加到我赞过的-课程中。再次点击则取消点赞，点赞数-1。</p>

<h4>2.心得</h4>
<p>点击心得跳转到心得列表页面，显示该课程下的心得。</p>

<h4>3.倍速播放</h4>
<p>可选0.8、1、1.25、1.5倍速，点击切换倍速。默认倍速为1倍。</p>

<h4>4.调节字号</h4>
<p>调节字号可选小、中、大三种字号，点击切换<!--（icon下文案分别为“字号：小”、“字号：中”、“字号：大”-->。切换课程或重新打开app继承字号大小。首次使用app默认为小号字体。</p>
<h3 class="v201">控制中心</h3>
<p class="v201">iOS控制中心包含如下部分</p>
<ol class="v201">
	<li>播放&暂停：同播放页播放暂停。</li>
	<li>上一首&下一首：按照播放列表顺序切换，如为最后一集或第一集则循环切换。</li>
	<li>图片封面：选用该课程对应的专辑封面。</li>
	<li>课程名称：如“哲学与科学”。</li>
	<li>老师：如“夏鹏”。</li>
	<li>所在专辑：如“哲学的故事”。</li>
	
</ol>
<h3 class="v203">写心得</h3>
<ol>
	<li class="v203">写心得按钮拖动效果：长按写心得按钮，可将其拖动到不超过文本区域的任意位置。拖动结束后记录位置。</li>
	<li>点击【写心得】：按钮弹出写心得，默认文字提示“随时记录你的心得吧”，点心得外的区域可隐藏写心得。</li>
	<li>点击写心得上方的区域：隐藏写心得，提示“本次编辑已自动保存” 我知道了 不再提醒。点击不再提醒则不再出现此提示。</li>
	<li class="v201">心得内容每有变动则保存到本地一次。心得发布则清除已保存的心得。</li>
	<!--<li>点击输入区域弹出键盘。点击上方区域失去焦点并隐藏键盘。</li>-->
	<!--<li>弹出键盘后，若未写满一行，则心得的可见高度为一行，输入文字则心得高度随行数增加。最高高度为未弹出键盘时的高度。</li>-->
</ol>
<img class="ui app image" src="img/prototype/app2.0/play/write.jpg" />
<h3>|　播放/暂停</h3>
<p>同播放条的播放暂停。</p>

<h3>|　发布</h3>
<ul>
	<li>如心得无文字内容，提示“写点什么再发布吧”</li>
	<li>点击【发布】，显示“正在发布”及加载动画，如发布失败，toast“发布失败，请检查你的网络设置”</li>
	<li>如发布成功，则跳转到该课程的心得列表。如是当日第一次发布，则提示toast“每日发布心得，优币+5”，该用户优币+5；如不是第一次发布，提示toast“发布成功”</li>
</ul>

<h3>|　上传图片</h3>
<p>上传图片按钮上以角标显示当前已选择上传的图片数量，如未上传图片，则不显示角标。<br />　　点击上传图片，如未选择图片，则跳转到选择图片页面。如已选择了图片，跳转到图片预览页。</p>
<h4>选择图片</h4>

<ol>
	<li>选择图片后，点击完成，如共选择了超过9张图片（选择的+在预览图中的），则提示“最多选择9张图片”</li>
	<li>如未超过九张，点击完成，则图片添加为待上传图片，并在预览页中显示</li>
	<li>点击取消，则不添加任何图片</li>
</ol>
<p>点击完成后跳转到图片预览页。</p>

<h4>图片预览页</h4>
<ol>
	<li>点击底部的图片按钮跳转到图片预览页，预览的大图限制高度和宽度（宽度为屏幕宽度，高度限制以设计稿为准），小图按照1:1裁剪。</li>
	<li>左右可滑动大图，小图联动。</li>
	<li>点击删除则将该图片从待上传中删除。点击完成或返回，返回到写心得页。</li>

</ol>
<div style="float:left;margin-right:50px;">
	<img class="ui app image" src="img/prototype/app2.0/play/picture1.jpg" /></div>
<img class="ui app image" src="img/prototype/app2.0/play/picture2.jpg" />