<meta charset="utf-8" />
<h2>学习日历模块</h2>
<h3>概述</h3>
<p>　　学习日历模块可以让用户从宏观上（学习日历）以及微观上（学习轨迹）把握自己的学习状况。</p>
<h3>学习日历页</h3>
<ol>
	<li>进入学习日历默认显示当前月份的日历，点击【左】【右】按钮显示前一月和后一月的日历。日历跨度为2016年11月至当前月。</li>
	<li>学习超过的30分钟的日子标注。</li>
	<li>点击日期进入当天的学习轨迹。将来的日期可以看到，但无法点击。</li>
	<!--<li>右上角分享可将学习日历分享到微信好友或微信朋友圈</li>-->
</ol>

<img class="ui app image" src="img/prototype/app2.0/calendar/calendar.jpg" />

<h3>学习轨迹</h3>
<ol>
	<li>如果用户查看的是今日的学习轨迹，则<b>显示累计学习XXX小时、今日学习XXX分钟、连续学习XXX天</b>。同时显示<b>今天日期</b>，点击日期跳转到学习日历页。</li>
	<li>如用户查看的是往日的学习轨迹，则只显示学习详情。</li>	
</ol>
<p>　　学习详情显示用户听课和写心得的记录，按照时间轴倒序显示。如用户未学习，则显示空白图（参见附录）。</p>
<div>
    <div  style=" float:left;margin-right: 50px;"><img class="ui app image" src="img/prototype/app2.0/calendar/today.jpg" />
</div>
<img class="ui app image" src="img/prototype/app2.0/calendar/former.jpg" />

</div>


<h4>听课记录</h4>
<p>　　听课信息包括结束学习该课程的时间、学习的时间和课程信息。</p>
<ol>
<li><b>结束学习的时间</b>：以最后收听该课程的时间为准</li>
<li><b>学习的时间</b>：为当日学习该课程的累计时间，取分钟数显示。若学习不足1分钟，则只统计时间，该学习记录不显示在学习详情中。</li>
<li><b>课程信息</b>：包括：课程封面、课程名。</li>
</ol>
<h4>写心得记录</h4>
<p>　　包括信息：发布心得的时间，心得内容（文本部分显示全部内容）。点击图片可查看大图。</p>
</ol>
<!--
<h3>分享出去的学习轨迹</h3>
<p>点击分享，可分享到微信好友或朋友圈</p>
<h4>分享后再朋友圈显示的文案</h4>
<p>　　pending</p>
<h4>分享后在微信号有显示的文案</h4>
<p>　　XXX今天的学习轨迹</p>-->
