<meta charset="utf-8" />
<h2>同学资料模块</h2>
<h3>概述</h3>
<p>　　用户可查看心得发布者的个人资料以及全部心得，并进行【关注】和【加好友】的进一步操作。</p>
<h3>同学资料页</h3>
<p>需要包含的内容有：</p>
<ol>
	<li>用户的头像、昵称、一句话介绍、等级。点击头像可查看大图。</li>
	<li>性别（以图标显示）、地区、年龄</li>
	<li>关注数、粉丝数、学习时长</li>
	<li>心得数以及心得预览，心得按照时间倒序显示，默认显示最新的5个，可上拉加载。</li>
</ol>

<img class="ui app image" src="img/prototype/app2.0/others/otherinfo.jpg" />

<h3>|　关注</h3>
<ol>
	<li>点击【关注】按钮则关注该用户，【关注】变成【已关注】。</li>
	<li>点击【已关注】，提示“确定不再关注xxx了吗？”确定 取消</li>
</ol>

<h3>|　加好友</h3>
<ol>
<li>点击加好友，复制该用户的微信号到剪贴板，同时提示“已复制微信号到剪贴板”取消 打开微信。点击打开微信则调出微信。</li>
<li>若该用户未填写微信号，则提示“该同学尚未填写微信号”</li>
</ol>