<meta charset="utf-8" />
<div class="ui stackable two column grid container document">

	<div class="four wide column" >
		<div style="overflow:hidden;width:200px;position:fixed;">
		<div id="hhh" class="ui accordion" style="overflow-y:scroll; max-width:200%;width:300px">
			<div class="title" data-id="1" id="summary"><i class="dropdown icon"></i>概述</div>
			<div class="content">
				<div class="ui list">
					<a class="item">修订记录</a>
					<a class="item">文档意义</a>
					<a class="item">产品定位</a>
					<a class="item">App基本流程</a>
					<a class="item">首次登陆流程</a>
					<a class="item">页面结构图</a>
				</div>
			</div>
			<div class="title" data-id="2" id="login"><i class="dropdown icon"></i>登录模块</div>
			<div class="content">
				<div class="ui list">
					<a class="item">概述</a>
					<a class="item">登陆流程</a>
					<a class="item">微信登录</a>
					<a class="item">手机登录</a>
					<a class="item">用户协议</a>
				</div>
			</div>
			<div class="title" data-id="3" id="today"><i class="dropdown icon"></i>今天模块</div>
			<div class="content">
				<div class="ui list">
					<a class="item">概述</a>
					<a class="item">卡片列表</a>
					<a class="item">卡片详情</a>
					<a class="item">每日学习时长</a>
				</div>
			</div>

			<div class="title" data-id="4" id="lesson"><i class="dropdown icon"></i>课程模块</div>
			<div class="content">
				<div class="ui list">
					<a class="item">概述</a>
					<a class="item">流程图</a>
					<a class="item">课程页</a>
					<a class="item">专辑详情</a>
					<a class="item">|　简介</a>
					<a class="item">|　课程</a>
					<a class="item">|　心得</a>
					<a class="item">下载管理</a>
					<a class="item">|　课程</a>
					<a class="item">|　专辑</a>
					<a class="item">|　下载中</a>
				</div>
			</div>
			<div class="title" data-id="5" id="note"><i class="dropdown icon"></i>心得模块</div>
			<div class="content">
				<div class="ui list">
					<a class="item">概述</a>
					<a class="item">关注</a>
					<a class="item">发现</a>
					<a class="item">心得详情</a>
					<a class="item">心得列表</a>
				</div>
			</div>
			<div class="title" data-id="6" id="me"><i class="dropdown icon"></i>个人中心模块</div>
			<div class="content">
				<div class="ui list">
					<a class="item">概述</a>
					<a class="item">“我”页面</a>
					<a class="item">粉丝及关注</a>
					<a class="item">个人资料</a>
					<a class="item">同学权益</a>
					<a class="item">我的心得</a>
					<!--<a class="item">学习管家</a>-->
					<a class="item">设置</a>

				</div>
			</div>
			<div class="title" data-id="7" id="play"><i class="dropdown icon"></i>播放模块</div>
			<div class="content">
				<div class="ui list">
					<a class="item">概述</a>
					<a class="item">播放页</a>
					<a class="item">PPT</a>
					<a class="item">文本部分</a>
					<a class="item">播放条</a>
					<a class="item">|　播放列表</a>
					<a class="item">|　前进、后退10秒</a>
					<a class="item">|　播放/暂停</a>
					<a class="item">|　功能菜单</a>
					<a class="item">写心得</a>
					<a class="item">图片预览</a>
					<a class="item">选择图片</a>

				</div>
			</div>

			<!--<div class="title" data-id="8" id="search"><i class="dropdown icon"></i>搜索模块</div>
			<div class="content">
				<div class="ui list">
					<a class="item">概述</a>
					<a class="item">搜索记录</a>
					<a class="item">热门搜索</a>
					<a class="item">搜索结果</a>
				</div>
			</div>-->
			<div class="title" data-id="8" id="calendar"><i class="dropdown icon"></i>学习日历模块</div>
			<div class="content">
				<div class="ui list">
					<a class="item">概述</a>
					<a class="item">学习日历页</a>
					<!--<a class="item">分享出去的日历</a>-->
					<a class="item">学习轨迹</a>
				</div>
			</div>

			<div class="title" data-id="9" id="others"><i class="dropdown icon"></i>同学资料模块</div>
			<div class="content">
				<div class="ui list">
					<a class="item">概述</a>
					<a class="item">同学资料页</a>
					<a class="item">|　关注</a>
					<a class="item">|　加好友</a>
				</div>
			</div>

			<div class="title" data-id="10" id="blabla"><i class="dropdown icon"></i>其他需求</div>
			<div class="content">
				<div class="ui list">
					<a class="item">概述</a>
					<a class="item">启动页</a>
					<a class="item">上拉加载&下拉刷新</a>
					<a class="item">数据加载动画</a>
					<!--<a class="item">Bug记录</a>
					<a class="item">数据记录</a>-->
				</div>
			</div>
			<div class="title" data-id="11" id="tips"><i class="dropdown icon"></i>提示文案</div>
			<div class="content">
				<div class="ui list">
					<a class="item">网络问题</a>
					<a class="item">微信登录</a>
					<a class="item">手机登录</a>
					<a class="item">绑定手机</a>
					<a class="item">上传图片</a>
					<a class="item">个人资料</a>
					<a class="item">加好友</a>
					<a class="item">首页</a>
					<a class="item">专辑详情</a>
					<a class="item">下载管理</a>
					<a class="item">我的心得</a>
					<a class="item">播放页</a>
					<a class="item">写心得</a>
					<a class="item">其他提示</a>
					<a class="item">优币商城</a>
				</div>
			</div>
			<div class="title" data-id="12" id="appendix"><i class="dropdown icon"></i>附录</div>
			<div class="content">
				<div class="ui list">
					<a class="item">空白页文案</a>
					<a class="item">金句</a>
					<a class="item">网络问题解决方案</a>
					<!--<a class="item">FAQ</a>-->
				</div>
			</div>
		</div>	
		</div>
	</div>
	<div id="content" class="twelve wide column ui form">
	</div>
</div>

<script>loadDocument('app2.0', function() {
	$('.ui.app.image').click(function() {
		var src = $(this).context.src;
		$('.show_image img').attr('src', src)
		$('.ui.modal').modal({
			className: {
				scrolling: 'scrolling',
			},
			observeChanges: true
		}).modal('show');
	});
});</script>
<script type="text/javascript">autodivheight();

function autodivheight() {

	var winHeight = 0;
	if(window.innerHeight)
		winHeight = window.innerHeight;
	else if((document.body) && (document.body.clientHeight))
		winHeight = document.body.clientHeight;

	if(document.documentElement && document.documentElement.clientHeight)
		winHeight = document.documentElement.clientHeight;
	document.getElementById("hhh").style.height = (winHeight - 70) + "px";
}
window.onresize = autodivheight;</script>