<meta charset="utf-8" />
<h2>搜索模块</h2>

<h3>概述</h3>
<p>搜索功能主要目的是帮助用户快速找到自己想要的内容，“内容”包括：老师、用户、课程三个类型；</p>
<p>需要记录用户以前的搜索历史，为完善用户画像积累数据；</p>

<h3>搜索记录</h3>
<ol class="ui list">
	<li>记录列表：按照时间倒序显示用户搜索过的内容，只显示<mark>前5个</mark>即可；</li>
	<li>删除搜索记录：用户可以单独删除指定的搜索记录（但是后台应该仍有此记录，只是不显示给用户）；</li>
	<li>清空搜索记录：将用户所有的搜索记录标记为“不可见”；</li>
</ol>

<h3>热门搜索</h3>
<ol class="ui list">
	<li>前期：管理员通过后台输入，所有用户看到统一的“热门”，显示5个；</li>
	<li>后期：根据最近24小时所有用户的搜索记录排序，选出搜索人数最多的5个结果，但管理员也可以通过后台手动增加；</li>
</ol>
<img class="ui app image" src="img/prototype/app2.0/search/search-input.png" />

<h3>搜索结果</h3>
<ol class="ui list">搜索结果中需要对用户输入的关键字进行“高亮”处理。
	<li>老师：显示含有关键字的老师头像和名字，点击后进入老师介绍页面，显示全部搜索结果；</li>
	<li>用户：显示含有关键字的用户的头像、名字、头衔、一句话介绍及关注按钮（点击后即关注该用户，若已关注则显示“已关注”），点击后进入该用户个人信息页面。最多显示3个结果，点击查看更多后进入新页面显示全部；</li>
	<li>课程：显示含有关键字的课程，包括课程标题、老师、所属专辑、时长。点击后进入相应课程；</li>
</ol>
<img class="ui app image" src="img/prototype/app2.0/search/Search-result.png" />