<table id="rukou" class="ui center aligned celled structured table">
	<thead>
		<tr>
			<th class=>入口</th>
			<th class=>跳转页面</th>
			<th class=>谁能看到</th>
			<th class=>备注</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>点击课程提示【立即入学】</td>
			<td>
				<a href="javascript:a('9_5');">介绍页</a>
			</td>
			<td>非会员</td>
			<td>详见<a href="javascript:a('9_4');">用户收听权限</a></td>
		</tr>		
		<tr>
			<td>点击课程提示【立即升级】</td>
			<td>
				<a href="javascript:a('9_5');">介绍页</a>
			</td>
			<td>未购买终身的会员</td>
			<td>详见<a href="javascript:a('9_4');">用户收听权限</a></td>
		</tr>
		<tr>
			<td>课程页banner</td>
			<td><a href="javascript:a('9_5');">介绍页</a>
			</td>
			<td>非会员</td>
			<td>详见<a href="javascript:a('9_11');">课程页修改</a></td>
		</tr>
		<tr>
			<td>专辑页【立即报名】</td>
			<td>
				<a href="javascript:a('9_5');">选择套餐页</a>
			</td>
			<td>非会员</td>
			<td>详见<a href="javascript:a('9_11');">课程专辑修改</a></td>
		</tr>
		<tr>
			<td>专辑页【立即升级】【</td>
			<td>
				<a href="javascript:a('9_5');">选择套餐页</a>
			</td>
			<td>学员但不是终身会员</td>
			<td>详见<a href="javascript:a('9_11');">课程专辑修改</a></td>
		</tr>
		<tr>
			<td>同学权益页【立即升级】</td>
			<td>
				<a href="javascript:a('9_6');">支付页</a>
			</td>
			<td>会员</td>
			<td>详见<a href="javascript:a('9_6');">同学权益修改</a></td>
		</tr>
	</tbody>
</table>
<table id="quanxian" class="ui center aligned celled structured table">
	<thead>
		<tr>
			<th class="one wide">用户身份</th>
			<th class="two wide">无收听权限的专辑（课程）</th>
			<th class="three wide">无权限时点击课程提示</th>
			<th class="one wide">页面跳转</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>免费用户</td>
			<td><b>除免费专辑外的专辑</b></td>
			<td><mark>该课程仅限友邻学员收听</mark> 立即入学 咨询阿树老师 取消</td>
			<td>【立即入学】跳转到<b>介绍页</b> <br />【咨询阿树老师】跳转到<b>网易七鱼</b></td>
		</tr>
		<tr>
			<td rowspan="2">购买1790或2390的用户</td>
			<td><b>仅限终身会员的专辑</b></td>
			<td><mark>收听此课程需升级终身会员</mark> 立即升级 取消</td>
				<td rowspan="2">“【立即升级】跳转<b>选择套餐</b>页面</td>

		</tr>
		<!--<tr>
			<td rowspan="2">基础课程版套餐</td>
			<td><b>仅限终身会员的专辑</b></td>
			<td><mark>收听此课程需升级终身会员</mark> 立即升级 取消</td>
				<td rowspan="2">“【立即升级】跳转<b>选择套餐</b>页面</td>

		</tr>-->
		<!--<tr>
			<td><b>终身会员+巩固提升</b></td>
			<td><br /><mark>收听此课程需升级终身会员或购买巩固提升版套餐</mark> 立即升级 取消</mark></td>
		</tr>
		<tr>
			<td rowspan="2">巩固提升版套餐</td>
			<td><b>仅限终身会员的专辑</b></td>
			<td><mark>收听此课程需升级终身会员</mark> 立即升级 取消</td>
			<td rowspan="2">【立即升级】跳转到<b>选择套餐</b>页</td>
		</tr>
		<tr>
			<td><b>仅限终身会员的专辑</b></td>
			<td><br /><mark>收听此课程需升级终身会员或购买基础课程版套餐，详情咨询你微信中的阿树老师</mark> 立即升级 取消
			</td>
		</tr>-->
		<tr>
			<td>终身会员</td>
			<td>/</td>
			<td>/</td>
			<td>/</td>
		</tr>
	</tbody>
</table>
<table id="xuqiu" class="ui center aligned celled structured table">
	<thead>
		<tr>
			<th>页面</th>
			<th>一级功能点</th>
			<th>二级功能点</th>
			<th>功能点详细说明</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td rowspan="8">
				新课程介绍页
			</td>
			<td rowspan="3">
				简介
			</td>
			<td>
				常见问题
			</td>
			<td>
				点击问题展开回答
			</td>
		</tr>
		<tr>
			<td>
				图片
			</td>
			<td>
				图片形式展示新课程简介
			</td>
		</tr>
		<tr>
			<td>
				视频播放
			</td>
			<td>
				APP使用视频+俞敏洪视频
			</td>
		</tr>
		<tr>
			<td rowspan="4">
				课程
			</td>
			<td>
				介绍
			</td>
			<td>
				TREE 4个分页介绍+终身会员课程
			</td>
		</tr>
		<tr>
			<td>
				试听
			</td>
			<td>
				--&gt;固定课程的播放页
			</td>
		</tr>
		<tr>
			<td>
				专辑
			</td>
			<td>
				--&gt;固定老师的老师介绍页
			</td>
		</tr>
		<tr>
			<td>
				老师
			</td>
			<td>
				--&gt;固定专辑的专辑详情页
			</td>
		</tr>
		<tr>
			<td>
				咨询+立即报名
			</td>
			<td>
			</td>
			<td>
				咨询--&gt;网易七鱼&nbsp; 立即报名--&gt;选择套餐
			</td>
		</tr>
		<tr>
			<td rowspan="4">
				选择套餐
			</td>
			<td>
				基础课程版
			</td>
			<td>
			</td>
			<td>
				每日均价、一句话介绍、权益图标、权益的点击弹窗
			</td>
		</tr>
		<tr>
			<td>
				巩固提升版
			</td>
			<td>
			</td>
			<td>
				每日均价、一句话介绍、权益图标、权益的点击弹窗
			</td>
		</tr>
		<tr>
			<td>
				终身学习版
			</td>
			<td>
			</td>
			<td>
				每日均价、一句话介绍、权益图标、权益的点击弹窗
			</td>
		</tr>
		<tr>
			<td>
				立即开通
			</td>
			<td>
			</td>
			<td>
				点击后根据学员当前身份，以及所选套餐进行提示和跳转
			</td>
		</tr>
		<tr>
			<td rowspan="4">
				支付页
			</td>
			<td rowspan="2">
				填写地址
			</td>
			<td>
				新增地址
			</td>
			<td>
				未填写地址时新增地址
			</td>
		</tr>
		<tr>
			<td>
				选择地址
			</td>
			<td>
				已填写地址情况下选择地址
			</td>
		</tr>
		<tr>
			<td rowspan="2">
				支付
			</td>
			<td>
				京东支付
			</td>
			<td>
				选择京东支付并进行支付
			</td>
		</tr>
		<tr>
			<td>
				微信支付
			</td>
			<td>
				选择微信支付并进行支付
			</td>
		</tr>
		<tr>
			<td rowspan="3">
				支付成功
			</td>
			<td>
				支付成功文案
			</td>
			<td>
			</td>
			<td>
				告诉用户支付对应商品成功。如终身会员提示副卡
			</td>
		</tr>
		<tr>
			<td>
				学习管家
			</td>
			<td>
			</td>
			<td>
				显示对应的学习管家，并可加好友（复制微信号到剪贴板）
			</td>
		</tr>
		<tr>
			<td>
				手机号判断
			</td>
			<td>
			</td>
			<td>
				如没有绑定手机号跳转绑定手机页面
			</td>
		</tr>
		<tr>
			<td rowspan="2">
				同学权益修改
			</td>
			<td>
				会员身份
			</td>
			<td>
			</td>
			<td>
				根据所购套餐显示会员身份+到期时间
			</td>
		</tr>
		<tr>
			<td>
				我的副卡入口
			</td>
			<td>
			</td>
			<td>
				我的副卡页面显示副卡信息。提供分享至微信功能
			</td>
		</tr>
		<tr>
			<td rowspan="2">
				专辑页修改
			</td>
			<td>
				倒计时
			</td>
			<td>
			</td>
			<td>
				新课程专辑未上线时显示距7.1倒计时
			</td>
		</tr>
		<tr>
			<td>
				收听权限判断
			</td>
			<td>
			</td>
			<td>
				根据会员身份判断是否可收听专辑，如没有则提供购买入口
			</td>
		</tr>
		<tr>
			<td>
				课程入口修改
			</td>
			<td>
				收听权限判断
			</td>
			<td>
			</td>
			<td>
				根据会员身份判断是否能收听课程，如没有进行相应提示
			</td>
		</tr>
		<tr>
			<td>
				同学权益入口修改
			</td>
			<td>
				会员身份判断
			</td>
			<td>
			</td>
			<td>
				非会员提示
			</td>
		</tr>
		<tr>
			<td rowspan="2">
				课程页修改
			</td>
			<td>
				显示新课程专辑
			</td>
			<td>
			</td>
			<td>
				每日英语早餐--&gt;TREE的9个专辑
			</td>
		</tr>
		<tr>
			<td>
				banner会员身份判断
			</td>
			<td>
			</td>
			<td>
				由会员/非会员两种改为根据不同套餐判断
			</td>
		</tr>
	</tbody>
</table>
<table id="quanyi" class="ui center aligned celled structured table">
	<thead>
		<tr>
			<th class="one wide">套餐&一句话介绍</th>
			<th class="one wide">权益名</th>
			<th class="three wide">权益内容</th>
		</tr>
	</thead>
	<tr>
		<td rowspan="4"><b>巩固提升版</b><br />第一时间解读顶尖外媒最IN资讯，熟谙全球最热话题，学习地道英文表达<br />低至¥4.9/天</td>
		<td>外媒新闻第一时间解读</td>
		<td>同终身会员</td>
	</tr>
	<tr>
		<td>365天有效期</td>
		<td>365天内琢磨赏析外媒新闻解读，整年时间精听、阅读、复习，磨练国际视野，不经意间学好英语。</td>
	</tr>
	<tr>
		<td>线上班级</td>
		<td>同终身会员</td>
	</tr>
	<tr>
		<td>友邻金融分期特权</td>
		<td>同终身会员</td>
	</tr>
	<tr>
		<td rowspan="5"><b>基础课程版</b><br />体系化能力进阶课程，覆盖四大英语能力模块<br />低至¥6.5/天</td>
		<td>能力进阶课程200节</td>
		<td>同终身会员</td>
	</tr>
	<tr>
		<td>365天有效期</td>
		<td>课程学制9个月，赠送3个月听课有效期方便练习、复习。365天内畅听全部能力进阶课程。</td>
	</tr>
	<tr>
		<td>线上班级</td>
		<td>同终身会员</td>
	</tr>
	<tr>
		<td>课程讲义包邮</td>
		<td>同终身会员</td>
	</tr>
	<tr>
		<td>友邻金融分期特权</td>
		<td>同终身会员</td>
	</tr>
	<tr>
		<td rowspan="12"><b>终身会员版</b><br />终身学习者的英语课堂，学无用的英文，做自由的灵魂<br />低至¥1.6/天</td>
		<td>能力进阶课程200节</td>
		<td>独创 T.R.E.E.能力进阶体系，系统学习四大英语能力模块，涵盖听说读写，进阶提升，事半功倍。</td>
	</tr>
	<tr>
		<td>终身学习</td>
		<td>在友邻成为真正的终身学习者，不限时、无限量持续学习优质课程，助你通今博古，学贯中西，走向英语自由。</td>
	</tr>
	<tr>
		<td>线上班级</td>
		<td>微信线上主题类、职业类学习社群，激发兴趣;每日推荐课程学习方式方法，事半功倍;微信群打卡、交流、切磋，群体共同监督，组团对抗拖延症。</td>
	</tr>
	<tr>
		<td>课程讲义包邮</td>
		<td>T.R.E.E. 体系课程讲义，包邮送到家。对照文本边学边记，输出笔记高效学习。[pic]</td>
	</tr>
	<tr>
		<td>友邻金融分期特权</td>
		<td>0 秒完成认证，快速通道，便捷支付，分期无压力。能力进阶版：首付 649元，月供199元*6个月（本息合计1843元 ）；终身学习版：首付 2149元，月供 399元*10个月（本息合计 6139元 ）</td>
	</tr>
	<tr>
		<td>外媒新闻每日解读</td>
		<td>精选《经济学人》等顶级外媒最新资讯，全年230+集新闻推送，网罗时政、商业、科创、文化、娱乐话题，与世界同步的同时，学地道英语。</td>
	</tr>
	<tr>
		<td>终身学习者专属课程</td>
		<td>经典，“恒久的模范。” 历经沧桑的人文经典，汲取前闲的睿智，塑立独立人格。从 《剧读莎士比亚》品戏剧艺术，从《中国哲学简史》《哲学的故事》品中西方思想精粹;欧美原版书导读，英文诗歌、散文解读，多视角思考人生。</td>
	</tr>
	<tr>
		<td>终身学习者专属社群</td>
		<td>结交一群心意相投的终身学习者，让学习贯穿生命的始终。在专属社群里结识行业精英，生活阅历丰富的伙伴。不止步不前，更不固步自封。不孤独的学习者，都在这里。</td>
	</tr>
	<tr>
		<td>终身学习者专属讲义</td>
		<td>人文经典课程讲义，拓展阅读必备。让每一天的收获，尽在手边，牢记心里。[pic]</td>
	</tr>
	<tr>
		<td>线下活动优先参与权</td>
		<td>友邻同学见面会、同城交流活动，提前预约，保留优先参与名额。</td>
	</tr>
	<tr>
		<td>专人规划师</td>
		<td>配备专属学习规划师，为你实现“英语自由”保驾护航。</td>
	</tr>
	<tr>
		<td>好友礼品卡价值¥1790</td>
		<td>价值 1790 元的能力进阶课程，送给好友共同进步。</td>
	</tr>
</table>
<table id="lujing"class="ui center aligned celled structured table">
	<thead>
		<tr>
			<th class="one wide">路径</th>
			<th class="three wide">提示文案</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1198会员开通1790</td>
			<td>“您无需购买基础课程版。推荐您升级为友邻优课“终身学习者”” 立即升级</td>
		</tr>
		<tr>
			<td>1790会员开通1790</td>
			<td>您已购买能力进阶课程，推荐您升级为友邻优课“终身学习者” 立即升级</td>
		</tr>
		<tr>
			<td>2390会员开通1790</td>
			<td>根据您当前的学习情况估算，推荐您直接升级为友邻优课“终身学习者” 继续开通 立即升级</td>
		</tr>
		<tr>
			<td>1198会员开通2390</td>
			<td>“您无需购买巩固提升版。推荐您升级为友邻优课“终身学习者”” 立即升级</td>
		</tr>
		<tr>
			<td>1790会员购买2390</td>
			<td>根据您当前的学习情况估算，推荐您直接升级为友邻优课“终身学习者” 继续开通 立即升级</td>
		</tr>
		<tr>
			<td>2390会员开通2390</td>
			<td>您已购买能力进阶课程，推荐您升级为友邻优课“终身学习者” 续费 立即升级</td>
		</tr>
		<tr>
			<td>1198会员购买5990</td>
			<td>亲爱的友邻同学：<br />未来我们将举办升级活动。根据您在友邻优课的学习情况估算，您有机会获得一定金额的代金券。请联系您通讯录中的阿树老师或小答应了解详情。<br /><b>我是土豪，拒绝优惠</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>取消</b></td>
		</tr>
	</tbody>
</table>