<meta charset="utf-8" />
<h2>其他需求</h2>
<h3>新手引导</h3>
<h4>首页</h4>
<p>　　左滑可查看昨天更新的节目<br />　　当日已学习的时间</p>
<h4>学习日历</h4>
<p>　　学满30分钟即在日历上标记为已打卡。<br />学完后联网，不然只能统计上学习时间，无法自动打卡。</p>
<h4>播放页</h4>
<p>　　播放列表；功能菜单；写心得</p>
<h3>上拉加载&下拉刷新</h3>
<h4>上拉加载</h4>
<p>　　上拉加载：①上拉显示更多②加载中…</p>
<p>　　P.S.上拉加载无更多内容时，则不显示上拉加载。</p>
<h4>下拉刷新</h4>
<p>　　下拉刷新：①下拉刷新②松开刷新③更新中..</p>
<p>　　可下拉刷新的页面：首页、知识、心得（关注、发现）、心得列表、粉丝、关注、我赞过的（课程、心得）、心得详情、专辑详情、同学资料页、学习轨迹。</p>

<h3>数据加载动画</h3>
<h3>获取通知权限</h3>
<h3>App启动页</h3>
<p>　　下左图为默认启动页，右图为更换启动页的通用样式。</p>
<div style="float:left;margin-right:50px;">
	<img class="ui app image" src="img/prototype/app2.0/start1.jpg" /></div>
<img class="ui app image" src="img/prototype/app2.0/start2.jpg" />



