<meta charset="utf-8" />
<h2>播放模块</h2>
<h3>概述</h3>
<p>　　播放模块是app最为核心的模块，用户可以在播放模块完成播放节目、写心得&发布心得的过程。</p>

<h3>播放页</h3>
<ol>
	<li>打开播放页时，如用户在非wifi环境下使用，则不加载内容和音频，提示“系统检测到当前为非wifi环境，是否继续”继续 返回，点击【继续】则正常播放，点击返回则返回上级页面。<br />P.S.:如用户已下载了该节目，则不提示。</li>
	<li>打开播放页自动播放。如上次未听完该节目，则提示“上次播放到xx:xx，是否继续”继续 取消。继续则跳转到上次播放位置播放。取消则直接开始播放。</li>
	<li>iPad播放页支持横屏显示，具体显示效果参看设计稿</li>
</ol>

<h4>下载</h4>
<p>　　点击【下载】，则提示“已加入下载队列”。下载成功后，图标变为已下载图标。</p>
<img class="ui app image" src="img/prototype/app2.0/play/play.png" />
<h3>PPT</h3>
<p>　　显示后台在该节课下添加的ppt素材，每个图片/视频有一个对应的时间点。每个节目在0:00时，默认显示该节目的课程封面。当课程没有添加ppt素材时，则只显示课程封面，课程封面上。</p>

<h4>显示/隐藏PPT</h4>
<p>　　点击下拉按钮显示ppt，点击上拉按钮或上拉图片隐藏ppt，切换节目继承ppt的显示/隐藏状态。</p>
<p>　　切换节目时，如显示ppt部分，则节目材料在ppt部分的下方。点击隐藏后，材料上移到顶部。需保证在ppt存在时也能完整浏览材料内容。</p>
<h4>播放视频</h4>
<p>　　播放视频时，如音频正在播放，则自动暂停音频。暂停视频后音频自动播放。若音频为手动暂停，则视频暂停播放不自动播放音频。</p>

<h4>PPT切换方式</h4>
<p>　　切换方式参照音乐播放软件的歌词切换方式。</p>
<ol>
<li>未滑动图片时，图片随播放进度改变（调进度同样改变）。</li>
<li>滑动可查看所有图片，且播放进度不随图片改变。未滑动超过5秒（包括按住图片），则自动按照时间显示图片。</li>
</ol>
<img class="ui app image" style="max-height: 667px" src="img/prototype/app2.0/play/ppt.jpg" />

<h3>文本部分</h3>

<p>　　显示节目材料。</p>

<h3>播放条</h3>
<p>　　播放进度：左边为已播放的时间，右边为剩余的播放时间</p>
<img class="ui app image" src="img/prototype/app2.0/play/playtiao.jpg" />

<h3>|　播放列表</h3>

<p>　　显示跳转之前已加载的节目列表信息。</p>
<ol>
	<li>从专辑-节目进入播放，播放列表显示专辑中已加载的节目列表。（如列表倒序也按照倒序显示）<br />播放列表名称为：专辑名</li>
	<li>从下载管理-专辑进入播放，则播放列表显示专辑中已下载的<br />播放列表名称：专辑名</li>
	<li>从下载管理-节目进入播放，按照下载管理-节目的顺序显示已下载的所有节目<br />播放列表名称：下载列表</li>
	<li>从首页进入播放，则按照时间倒序显示<b>当天</b>已下载的所有节目<br />播放列表名称：更新的日期，如2月14日</li>
	<li>如用户点击心得内的节目跳转到播放页，则播放列表只显示该节目。<br />播放列表名称：播放列表</li>
</ol>
<p>　　点击播放方式按钮，可切换顺序播放（按照播放列表顺序播放）、循环播放、单节播放。播放方式在切换节目后不改变。</p>
<img class="ui app image" src="img/prototype/app2.0/play/playlist.jpg" />

<h3>|　前进、后退10秒</h3>

<h3>|　播放/暂停</h3>
<ol>
	<li>可通过耳机控制播放暂停</li>
	<li>打电话/接电话时自动暂停，接完电话自动继续播放</li>
	<li>离线及在线状态可统计时长，并在播放页中显示</li>
</ol>

<h3>|　功能菜单</h3>

<p>　　页面右下角的功能菜单里包含喜欢、心得、调节字号、倍速播放功能，</p>
<h4>1.喜欢</h4>

<p>　　点击喜欢，则节目的喜欢数+1，该节目添加到我喜欢的-节目中，提示“已添加到我喜欢的”。再次点击则取消喜欢,喜欢数-1。</p>

<h4>2.心得</h4>
<p>　　点击心得跳转到心得列表页面，显示该课程下的心得。</p>

<h4>3.倍速播放</h4>
<p>　　可选0.8、1、1.25、1.5倍速，点击切换倍速。切换节目倍速不改变。</p>
<h4>4.调节字号</h4>
<p>　　调节字号可选小、中、大三种字号，点击切换（icon下文案分别为“字号：小”、“字号：中”、“字号：大”。切换节目或重新打开app继承字号大小。</p>
<h3>写心得</h3>
<ol>
<li>点击【写心得】按钮弹出写心得，默认文字提示“随时记录你的心得吧”，点心得外的区域可隐藏写心得。</li>
<li>点击输入区域弹出键盘。点击上方区域失去焦点并隐藏键盘。</li>
<li>弹出键盘后，若未写满一行，则心得的可见高度为一行，输入文字则心得高度随行数增加。</li>
</ol>
<h4>播放/暂停</h4>
<p>　　同播放条的播放暂停。</p>

<h4>发布</h4>
<ul>
	<li>如心得无文字内容，提示“写点什么再发布吧”</li>
	<li>如发布成功，则跳转到该节目的心得列表（页面标题为发布成功）。</li>
</ul>
<img class="ui app image" src="img/prototype/app2.0/play/write.jpg" />

<h3>图片预览页</h3>

<p>　　点击底部的图片按钮跳转到图片预览页，预览的大图限制高度和宽度，小图按照1:1裁剪。</p>
<p>　　点击删除则将该图片从待上传中删除。点击完成或返回，返回到写心得页。</p>
<img class="ui app image"  src="img/prototype/app2.0/play/picpreview.jpg" />

<h3>选择图片</h3>

<ol>
	<li>选择图片后，点击完成，如共选择了超过9张图片（选择的+在预览图中的），则提示“最多选择9张图片”</li>
	<li>如未超过九张，点击完成，则图片添加为待上传图片，并在预览页中显示</li>
	<li>点击返回，则不添加任何图片</li>
</ol>

