<meta charset="utf-8" />
<h2>课程模块</h2>
<h3>概述</h3>
<p>　　课程模块类似于图书馆的索引，用户可以按照专辑（专题）-节目的方式找到已更新的所有节目。</p>
<h3>流程图</h3>
	<img class="ui app image" style="border:0px" src="img/prototype/app2.0/knowledge/knowledge-flow.png" />
<h3>课程页</h3>

<p>　　课程页包含专题、每日新闻和专辑三个栏目。右上角播放按钮，点击跳转到正在播放的节目，如用户第一次登陆，则不显示播放按钮。</p>

<ol>
	<li>专题为banner展示，切换间隔5s。点击专辑跳转到网页。</li>
	<li>每日新闻展示最近更新的5个节目，显示的信息包括：课程封面、课程名、老师、课程标签、更新时间。其中更新时间如是今日，则显示“今日更新”，否则显示日期（如3.14更新）
	<br />—点击课程可直接跳转到播放页。点击>或最后的查看更多可跳转到每日新闻讲解版的专辑详情。</li>
	<li>专辑栏目显示除每日新闻解读版外的所有专辑。<br />
	-第一个专辑为上次听过的专辑，XX集的右侧显示“最近听过”。<br />
	-其余专辑按照<b>权重顺序排列</b>。未闭合的专辑显示“更新至XXX节”，已闭合的专辑显示“共XXX节”。</li>
	<li>点击专题跳转到专题页，点击专辑跳转到<b>专辑详情页</b>。</li>
</ol>
<p></p>
<p>　　P.S.课程页需要做缓存处理，使用户在无网络情况下也能够浏览缓存中的专辑图片。</p>
	<img class="ui app image" style="max-height: 667px" src="img/prototype/app2.0/knowledge/knowledge.jpg" />

<h3>专辑详情</h3>
<ol>
	<li>专辑详情最上方为专辑封面，封面上显示专辑备注、已收听人数、点赞人数。</li>
	<li>详情包含三个分页：<b>简介、节目以及心得</b>。进入专辑详情默认切换到<b>节目分页</b>。</li>
	<li>进入专辑详情或下拉刷新时加载课程，如没有网络，提示“网络不可用”。</li>
</ol>

<p>　　若用户为非会员，则在专辑页面底部固定显示<b>立即报名</b>及<b>咨询阿树老师</b>按钮，且播放按钮变为锁。</b>点击立即报名跳转到<b>购买页</b>,点击咨询阿树老师跳转到客服页面。</p>
	<img class="ui app image" src="img/prototype/app2.0/knowledge/joinnow.jpg" />

<h3>|　简介</h3>
<p>　　简介包含三个部分：</p>
<ol>
	<li>专辑的简短介绍（一句话介绍），以及专辑其他相关字段。</li>
	<li>专辑由哪些老师讲述，点击老师跳转到<b>老师介绍页。</b></li>
	<li>专辑的详细介绍，富文本格式</li>
</ol>
<p>　　专辑封面上显示：专辑的更新频次、已收听的人数、专辑的点赞人数。</p>
	<img class="ui app image" src="img/prototype/app2.0/knowledge/albumintro.jpg" />
<h3>|　节目</h3>

<p>　　上滑节目列表，则分页栏固定于顶部。</p>

<h4>节目列表</h4>
<p>　　点击节目时：</p>
<ol>
	<li>如用户未登录，则跳转到登录页面。</li>
	<li>如用户为非会员，提示“该节目仅限友邻学员收听” 取消 立即入学。</li>
	<li>如用户为会员，跳转到对应节目的<b>播放页</b>，并自动播放。</li>
</ol>
<p>　　标记已点过的课程和未点过的课程。已点过的节目记录于服务器，避免用户重装或换手机后无法知道之前听过的节目。</p>
<p>　　<b>上拉时分页栏固定于顶部。上拉加载时显示加载动画</b>，一次加载10个节目。</p>

	<img class="ui app image" src="img/prototype/app2.0/knowledge/albumlesson.jpg" />
<h4>【筛选】</h4>
<p>　　每个节目包含一种标签，用来区分不同的节目。</p>
<p>　　点击筛选时出现筛选菜单，筛选变为“取消”：</p>
<ol>
	<li>每日新闻显示时间标签：2017-01、2017-02等。</li>
	<li>名称前有集数E[XX]的，如莎士比亚，显示集数标签：E1-E10，E10-20等</li>
</ol>
<p>　　选择标签后节目列表显示相对应的节目。</p>
<h4>【排序】</h4>
<p>　　点击排序可切换节目列表的排序状态：正序或倒序。</p>
<p>　　未闭合的专辑默认按照节目更新时间倒序排列（如每日新闻解读），已闭合的专辑默认按照更新时间正序排列（如莎士比亚）。</p>

<h4>【下载】</h4>
<p>　　点击下载：</p>

<ol>
	<li>如用户处于未登录状态，则跳转到登录页。</li>
	<li>如当前登录为非会员账号（新用户），提示“成为友邻优课学员即可下载任意课程” 立即入学 咨询阿树老师 取消。点击咨询小答应接入客服，点击立即入学跳转到购买页，点击取消留在当前页面。</li>
	<li>如当前登录为会员账号，跳转到<b>批量下载</b>页面。</li>
</ol>


<p>　　批量下载页，节目显示与列表页相同，可上拉加载。</p>
<ol>
	<li>已下载的课程左侧为灰色的勾，不可勾选。</li>
	<li>点击<b>全选当页</b>，则选择全部已加载的节目。全选后再次点击全选当页，全不选。</li>
	<li>勾选想要下载的节目后点击下载，提示“开始下载...”，并返回节目列表。若用户在非wifi环境下，点击下载则提示“确定要使用流量下载课程？” 确定 取消</li>
	<li>显示已选择下载多少节目“已选择xxx条”</li>
	<li>若用户未勾选任何节目点击下载，提示“请选择要下载的节目”。</li>
</ol>
	<img class="ui app image" src="img/prototype/app2.0/knowledge/download.jpg" />


<h3>|　心得</h3>
<p>　　该分页显示运营人员从该专辑下的心得中挑选的心得。（需要相应的后台功能，可将用户心得添加为精选心得，并管理这些心得）</p>
<p>　　若该分页下无心得，则隐藏该分页。</p>
	<img class="ui app image" style="max-height: 667px" src="img/prototype/app2.0/knowledge/albumnote.jpg" />
<h3>下载管理</h3>
<p>　　下载管理包含3个分页：节目、专辑和下载中。打开下载管理默认切换到节目分页。</p>
<p>　　每个分页均显示手机的总存储空间，以及剩余可用空间。例如：总空间25.8G，剩余2.1G。</p>
<h3>|　节目</h3>

<p>　　<b>节目</b>分页显示所有已下载的节目，按照下载完成的时间倒序排列。无任何节目时显示默认的空白页。</p>
<p>　　每个已下载的节目显示如下信息：节目封面、节目名、所属专辑、节目时长。</p>
<div style="float:left;margin-right:50px;">
	<img class="ui app image" src="img/prototype/app2.0/knowledge/dlesson1.jpg" /></div>
<img class="ui app image" src="img/prototype/app2.0/knowledge/dlesson2.jpg" />
<h4>【删除】</h4>
<p>　　点击【删除】则删除该节目。</p>
<h4>【批量管理】</h4>
<ol>
	<li>点击批量管理，可对节目进行批量操作，“批量操作”变为“取消”。点击取消则取消批量管理。</li>
	<li>点击全选选中所有已下载的节目，再次点击则全不选。</li>
	<li>勾选完成后，点击【删除】，提示“确定删除已勾选的节目？” 确定 取消。</li>
</ol>
<h3>|　专辑</h3>

<p>　　专辑分页将节目按照专辑分类。点击专辑进入该专辑下已下载的全部节目。</p>
<h4>【删除】</h4>
<p>　　点击<b>删除</b>提示“确定删除该专辑的所有节目吗”，确定则删除该专辑，以及该专辑下下载的所有节目。</p>
	<img class="ui app image" src="img/prototype/app2.0/knowledge/dalbum.jpg" />
<b>专辑的下载详情</b>



<p>　　显示该专辑下的所有已下载节目，按照专辑-节目列表的默认顺序排列。点击专辑可跳转到专辑详情。</p>
<p>　　批量管理功能与<b>节目</b>分页基本相同。若用户将专辑下下载的的节目全部删除，则返回上级页面，该专辑消失。</p>
	<img class="ui app image" src="img/prototype/app2.0/knowledge/ddetail.jpg" />
<h3>|　下载中</h3>


<p>　　下载</p>
<p>　　该分页显示未下载完成的节目。按照添加的时间倒序排列。</p>
<p>　　节目分为3种状态：<b>正在下载、等待下载、暂停下载。</b></p>
<ol>
	<li>正在下载：列表中只有一个正在下载的节目，点击可暂停，使处于暂停下载的状态。<br /></li>
	<li>等待下载：除了正在下载的节目外，在下载队列中需要等待下载的节目。点击可使处于暂停状态。</li>
	<li>暂停下载：点击可加入到下载队列中，变为正在下载或等待下载状态。支持断点续传。在无正在下载的节目且非wifi环境下，点击暂停状态的节目，提示“系统检测到当前为非wifi环境，是否下载” 确定 取消。</li>
</ol>
<p>　　文件变为正在下载前，如无足够存储空间，则提示存储空间不足。</p>
<p>　　打开app，如有未完成的下载任务，则全部为暂停下载状态。</p>
<h4>全部开始&全部暂停</h4>
<p>　　点击 全部开始 则将所有任务加入到下载队列中，如是非wifi环境，弹出同样的非wifi条件提示。</p>
<p>　　点击 全部暂停 暂停所有任务。</p>
<h4>清空</h4>
<p>　　点击清空提示“是否要清空所有下载任务？” 取消 确定。点确定则清空下载中列表，显示默认空白页。</p>
	<img class="ui app image" src="img/prototype/app2.0/knowledge/downloading.jpg" />