<meta charset="utf-8" />
<h2>首页模块</h2>
<h3>模块概述</h3>
<ol>
	<li>以“天”为单位，用卡片的形式显示每天更新的课程。</li>

</ol>
<img class="ui app image" src="img/prototype/app2.0/home.jpg" />
<h3>卡片列表</h3>
<ol>
	<li>第一个卡片为“今天”，向左侧滑动依次显示最近5天更新的内容；</li>
	<li>最后一个卡片左滑切换到课程页。</li>
	<li>双击底部Tab Bar时自动返回到第一个卡片。</li>
	<li>下拉刷新，如有更新，显示为最近的一天更新。</li>
</ol>

<h3>卡片详情</h3>
<p>　　每个卡片需要包括以下内容：</p>
<ol>
	<li>更新日期以及更新的专辑数量，如日期为今天，则显示为“今日”。</li>
	<li>当日学习时长（单位分钟），今天则显示截至刷新时间已学的分钟数</li>
	<li>课程列表：当前日期内所有更新的课程，以及节目的相关信息。</li>
</ol>
	<p>　　单个节目需要包括以下信息：</p>
<ol>
	<li>节目封面：点击节目封面跳转到播放页。由于每日新闻是周一到周五每日更新的节目，故节目封面在最上方以大图显示。</li>
	<li>节目名</li>
	<li>老师、节目时长</li>
	<li>专辑名：点击专辑名可跳转到对应的专辑详情页。</li>
</ol>


