<meta charset="utf-8" />
<h2>今天模块</h2>
<h3>模块概述</h3>

<p>　　对于学员用户，以“天”为单位，用卡片的形式显示每天更新的课程。非会员第一张卡片为引导购买的卡片，后面的卡片与会员一致。</p>

<img class="ui app image" src="img/prototype/app2.0/today/home.jpg" />
<h3>卡片列表</h3>
<ol>
	<li>第一个卡片为“今天”，向左侧滑动依次显示最近5天更新的内容；</li>
	<li>最后一个卡片左滑切换到课程页。</li>
	<li>双击底部Tab Bar时自动返回到第一个卡片。</li>
	<li>下拉刷新，如有更新，显示为最近的一天更新。</li>
</ol>

<h3>卡片详情</h3>
<p>　　每个卡片需要包括以下内容：</p>
<ol>
	<li><b>更新日期以及更新的专辑数量</b>，如日期为今天，则显示为“今日”。</li>
	<li></b>当日学习时长（单位分钟）</b>，显示截至刷新时间已学的分钟数</li>
	<li></b>课程列表</b>：当前日期内所有更新的课程，以及节目的相关信息。</li>
</ol>
	<p>　　单个节目需要包括以下信息：</p>
<ol>
	<li></b>节目封面</b>：点击节目封面跳转到播放页。由于每日新闻是周一到周五每日更新的节目，故节目封面在最上方以大图显示。</li>
	<li></b>节目名</b></li>
	<li></b>老师、节目时长</b></li>
	<li></b>专辑名</b>：点击专辑名可跳转到对应的专辑详情页。</li>
</ol>

<p>　　会员点击课程跳转到对应的播放页；非会员点击课程提示“成为友邻优课学员即可收听此课程” 立即入学 咨询阿树老师 取消。点击<b>立即入学</b>跳转到购买页，点击<b>咨询阿树老师</b>跳转到学习管家页面。</p>

<h3>非会员卡片</h3>
<p>　　非会员第一张卡片样式如下图，点击播放视频。视频播放完成或取消播放，即弹出提示框，文案：三个按钮：</p>
<ol>
	<li><b>立即报名</b>：跳转到购买页。</li>
	<li><b>咨询阿树老师</b>：跳转到学习管家页面。</li>
	<li><b>暂时不想学习</b>：关闭弹窗。</li>
</ol>


