<meta charset="utf-8" />
<div class="ui stackable two column grid container document">
	<div class="four wide column">
		<div class="ui accordion" style="position:fixed">
			<div class="title" data-id="1"><i class="dropdown icon"></i>概述</div>
			<div class="content">
				<div class="ui list">
					<a class="item">用途</a>
					<a class="item">功能概述</a>
					<a class="item">时间规划</a>
					<a class="item">首次关注</a>
					<a class="item">菜单栏设置</a>
				</div>
			</div>
			<div class="title" data-id="2"><i class="dropdown icon"></i>会员购买体系</div>
			<div class="content">
				<div class="ui list">
					<a class="item">概述</a>
					<a class="item">赠送好友</a>
					<a class="item">新手购买</a>
					<a class="item">会员续费</a>
					<a class="item">经销商</a>
				</div>
			</div>
			<div class="title" data-id="3"><i class="dropdown icon"></i>优课商城体系</div>
			<div class="content">
				<div class="ui list">
					<a class="item">概述</a>
					<a class="item">课程列表</a>
					<a class="item">品牌介绍</a>
					<a class="item">课程详情</a>
				</div>
			</div>
			<div class="title" data-id="4"><i class="dropdown icon"></i>个人中心体系</div>
			<div class="content">
				<div class="ui list">
					<a class="item">概述</a>
					<a class="item">基本信息</a>
					<a class="item">已购课程</a>
					<a class="item">个人资料</a>
					<a class="item">我的管家</a>
					<a class="item">我的礼品卡</a>
					<a class="item">地址管理</a>
				</div>
			</div>
			<div class="title" data-id="5"><i class="dropdown icon"></i>免费体验体系</div>
			<div class="content">
				<div class="ui list">
					<a class="item">免费课程</a>
					<a class="item">社群展示</a>
				</div>
			</div>
		</div>
	</div>
	<div id="content" class="twelve wide column ui form">
	</div>
</div>

<script>
	loadDocument('wechat');
</script>
