<meta charset="utf-8" />
<h2>免费体验体系</h2>

<h3>概述</h3>
<p>免费体验主要分为两个部分：体验课程和了解社群；</p>

<h3>免费课程</h3>
<h4>内容</h4>
<ol class="ui list">
	pending...
</ol>

<h4>页面原型</h4>
<ol class="ui list">
	pending...
	<!-- <li>【个人中心】界面原型图如下：
		<a href="img/prototype/wechat/me.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/wechat/me.png" />
		</a>
	</li> -->
</ol>

<h3>社群展示</h3>
<p>用户以“查看聊天记录”的方式了解社群，包括社群列表、聊天记录；</p>
<h4>聊天记录</h4>
<ol class="ui list">
		<li>页面中包括“头像”、“头衔”、“聊天内容”、“谁什么加入了本群”、“时间”5项信息，样式完全仿照微信；</li>
		<li>用户可以下拉查看以往聊天记录，具体内容和头像等信息<a>点此下载（现在还没有，点了也没反应）</a>；</li>
		<li>底部通栏按钮，文字为“加入此群”；</li>
</ol>

<h4>加入社群</h4>
<ol class="ui list">
		<li>若会员点击聊天记录页面中的“加入社群”按钮，则调整到此页面，提示找他通讯录中的小答应验证是否有资格加入（给出小答应二维码）；</li>
</ol>

<h4>页面原型</h4>
<ol class="ui list">
	<li>【社群列表】界面原型图如下：
		<a href="img/prototype/wechat/group-list.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/wechat/group-list.png" />
		</a>
	</li>
	<li>【聊天记录】界面原型图如下：
		<a href="img/prototype/wechat/group-info.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/wechat/group-info.png" />
		</a>
	</li>
	<li>【加入社群】界面原型图如下：
		<a href="img/prototype/wechat/join-group.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/wechat/join-group.png" />
		</a>
	</li>
</ol>

<h3>个人资料</h3>
<p>同App，见相应章节，无一句话介绍和底部“完整填写...”文字；</p>


<h3>我的管家</h3>
<p>同App，见相应章节；</p>

<h3>我的礼品卡</h3>
<h4>概述</h4>
<p>礼品卡的商品仅为友邻优课学员资格，；</p>
<h4>页面元素</h4>
<ol class="ui list">
	<li>商品名：一般为“友邻优课学员资格（365天）”；</li>
	<li>使用状态：
		<ol>
			<li>若已使用，点击后进入礼品卡详情页面，增加使用者信息；</li>
			<li>若未使用，点击后进入【会员购买体系-赠送好友】章节中的【送给好友】页面（体验和购买后立即送给好友相同），引导用户分享此页面；</li>
		</ol>
	</li>
</ol>

<h4>页面原型</h4>
<ol class="ui list">
	<li>【我的礼品卡】界面原型图如下：
		<a href="img/prototype/wechat/me-gift.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/wechat/me-gift.png" />
		</a>
	</li>
	<li>【已使用的礼品卡】界面原型图如下：
		<a href="img/prototype/wechat/gift-used.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/wechat/gift-used.png" />
		</a>
	</li>
</ol>

<h3>地址管理</h3>
<p>同App，见相应章节；</p>

<h3>资源下载</h3>
<p>页面中用到的icon（微信、手机、个人资料同App中任务中心相应icon，请自行查找）：
	<a href="img/prototype/wechat/me-icons.zip">
		<div class="ui blue button">
			立即下载
		</div>
	</a>
</p>
