<meta charset="utf-8" />
<h2>概述</h2>

<h3>用途</h3>
<ol class="ui list">
	<li>友邻优课微信端主要为三个产品：
		<ol>
			<li>友邻优课服务号：吸引流量、购买转化；</li>
			<li>友邻优课小程序：听课及社交基础功能，按照张小龙价值观，打造“用完即走”的产品；</li>
			<li>友邻优课收款号（多个）：仅作为收款工具，收款至集团其他子公司银行账户；</li>
		</ol>
	</li>
	<li>2016年12月31日前，微信端全部前端页面将逐步改版，具体见下方“时间规划”；</li>
	<li>微信端后台与友邻优课管理员后台结合，具体文档见Admin一章；</li>
	<li>改版完成后，友邻优课服务号开发工作将以【需微信登录的<mark>运营活动</mark>技术支持】为主；</li>
</ol>

<h3>功能概述</h3>友邻优课服务号主要分为如下几个模块：会员购买、优课商城、个人中心、今日免费、经销商。
<ol class="ui list">
		<li>会员购买：分为新手购买、会员续费、赠送好友三大部分；</li>
		<li>优课商城：类似淘宝，用户任意选购商品（即课程），完成支付后对接给相应客服；</li>
		<li>个人中心：会员购买后填写礼品卡，送给好友；</li>
		<li>今日免费：免费节目、社群活动等；</li>
		<li>经销商：单独生成链接。用于经销商及运营、财务人员查看购买及返现数据，不在公众号显示入口；</li>
</ol>

<h3>时间规划</h3>
<ol class="ui list">
	<li>11月20日前完成赠送好友相关功能；</li>
	<li>12月5日下线合伙人功能并完成经销商功能（合伙人改版）；</li>
	<li>12月10日前完成会员购买功能的改版；</li>
	<li>12月20日前完成商品体系的改版；</li>
	<li>12月31日完成后台数据的对接；</li>
</ol>

<h3>首次关注</h3>
<p>
Hi，我是友邻优课的大管家【阿树】。<br /><br />
欢迎优秀的你来到这里和我一起【学英文，睁眼看世界】！点击下方【每日提升】获取【今日知识】吧~<br /><br />
有问题到【个人中心】里呼叫我就好啦~
</p>

<h3>菜单栏设置</h3>
<ul class="ui list">
	<li>每日提升
		<ul>
				<li>每日主题群</li>
				<li>今日知识</li>
		</ul>
	</li>
	<li>立即购买
		<ul>
				<li>新手报名</li>
				<li>优课商城</li>
				<li>会员续费</li>
				<li>赠送好友</li>
		</ul>
	</li>
	<li>个人中心
		<ul>
				<li>下载App</li>
				<li>呼叫阿树</li>
				<li>已购清单</li>
				<li>个人中心</li>
		</ul>
	</li>
</ul>
