<meta charset="utf-8" />
<h2>个人中心体系</h2>

<h3>概述</h3>
<ol class="ui list">
	<li>友邻优课微信端（服务号）个人中心主要供用户查看个人信息及优课购买情况，只可查看自己的信息；</li>
	<li>微信端的个人中心数据由友邻优课【公用服务器】和友邻优课【微信服务器】共同提供；</li>
</ol>

<h3>基本信息</h3>
<h4>内容</h4>
<ol class="ui list">
		<li>头像；</li>
		<li>微信名；</li>
		<li>头衔；</li>
		<li>学员状态：
			<ol>
				<li>若用户是友邻学员，显示到期时间：“学员到期时间：2017年12月31日，点此续费”；</li>
				<li>若用户不是友邻学员，显示：“您尚未成为友邻同学，点此加入”；</li>
			</ol>
		</li>
		<li>坚持学习时间（单位：天），不可点击：
			<ol>
				<li>若身份未过期，显示当前时间-加入时间；</li>
				<li>若身份过期，显示过期时间-加入时间；</li>
			</ol>
		</li>
		<li>微信号：点击后到新页面，输入微信号；</li>
		<li>绑定手机：同app；</li>
</ol>

<h4>页面原型</h4>
<ol class="ui list">
	<li>【个人中心】界面原型图如下：
		<a href="img/prototype/wechat/me.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/wechat/me.png" />
		</a>
	</li>
</ol>

<h3>已购课程</h3>
<p>因课程量较少，暂不区分品牌；</p>
<h4>页面元素</h4>
<ol class="ui list">
		<li>在课程列表的基础上，在头图上方增加头像和品牌名；</li>
		<li>点击后进入课程详情页面，但底部固定栏内容改为：“已报名，上课信息请咨询管家”，点击后弹出用户小答应微信二维码；</li>
</ol>

<h4>页面原型</h4>
<ol class="ui list">
	<li>【已购课程】界面原型图如下：
		<a href="img/prototype/wechat/me-purchased-course-list.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/wechat/me-purchased-course-list.png" />
		</a>
	</li>
	<li>【已购课程详情】界面原型图如下：
		<a href="img/prototype/wechat/me-purchased-course-info.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/wechat/me-purchased-course-info.png" />
		</a>
	</li>
</ol>

<h3>个人资料</h3>
<p>同App，见相应章节，无一句话介绍和底部“完整填写...”文字；</p>


<h3>我的管家</h3>
<p>同App，见相应章节；</p>

<h3>我的礼品卡</h3>
<h4>概述</h4>
<p>礼品卡的商品仅为友邻优课学员资格，；</p>
<h4>页面元素</h4>
<ol class="ui list">
	<li>商品名：一般为“友邻优课学员资格（365天）”；</li>
	<li>使用状态：
		<ol>
			<li>若已使用，点击后进入礼品卡详情页面，增加使用者信息；</li>
			<li>若未使用，点击后进入【会员购买体系-赠送好友】章节中的【送给好友】页面（体验和购买后立即送给好友相同），引导用户分享此页面；</li>
		</ol>
	</li>
</ol>

<h4>页面原型</h4>
<ol class="ui list">
	<li>【我的礼品卡】界面原型图如下：
		<a href="img/prototype/wechat/me-gift.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/wechat/me-gift.png" />
		</a>
	</li>
	<li>【已使用的礼品卡】界面原型图如下：
		<a href="img/prototype/wechat/gift-used.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/wechat/gift-used.png" />
		</a>
	</li>
</ol>

<h3>地址管理</h3>
<p>同App，见相应章节；</p>

<h3>资源下载</h3>
<p>页面中用到的icon（微信、手机、个人资料同App中任务中心相应icon，请自行查找）：
	<a href="img/prototype/wechat/me-icons.zip">
		<div class="ui blue button">
			立即下载
		</div>
	</a>
</p>
