<meta charset="utf-8" />
<div class="ui stackable two column grid container document">
	<div class="four wide column">
		<div class="ui accordion" style="position:fixed">
			<div class="title" data-id="1"><i class="dropdown icon"></i>概述</div>
			<div class="content">
				<div class="ui list">
					<a class="item">用途</a>
					<a class="item">时间安排</a>
					<a class="item">设计规范</a>
				</div>
			</div>
			<div class="title" data-id="2"><i class="dropdown icon"></i>建议收集</div>
			<div class="content">
				<div class="ui list">
					<a class="item">需求</a>
					<a class="item">原型</a>
				</div>
			</div>
			<div class="title" data-id="3"><i class="dropdown icon"></i>预订</div>
			<div class="content">
				<div class="ui list">
					<a class="item">需求</a>
					<a class="item">原型</a>
				</div>
			</div>
			<div class="title" data-id="4"><i class="dropdown icon"></i>抢购</div>
			<div class="content">
				<div class="ui list">
					<a class="item">需求</a>
					<a class="item">流程</a>
					<a class="item">原型</a>
				</div>
			</div>
			<div class="title" data-id="5"><i class="dropdown icon"></i>图文显示</div>
			<div class="content">
				<div class="ui list">
					<a class="item">需求</a>
					<a class="item">样式</a>
				</div>
			</div>

			<div class="title" data-id="6"><i class="dropdown icon"></i>消息通知</div>
			<div class="content">
				<div class="ui list">
					<a class="item">需求</a>
				</div>
			</div>
			<div class="title" data-id="7"><i class="dropdown icon"></i>快递邮寄</div>
			<div class="content">
				<div class="ui list">
					<a class="item">需求</a>
				</div>
			</div>
		</div>
	</div>

	<div id="content" class="twelve wide column ui form">
	</div>
</div>

<script>
	loadDocument('renew');
</script>
