<meta charset="utf-8" />
<h2>概述</h2>

<h3>用途</h3>
<ol class="ui list">
	<li>此文档为友邻优课2016年11月8日升级狂欢活动系统的需求文档。系统在10月9日（倒计时30天）至2016年12月31日期间使用。用户扫描倒计时海报二维码后进入系统，根据时间显示不同的内容；</li>
	<li>友邻优课升级狂欢即为2016年全部会员续费活动，主要包括【建议收集】、【预订】、【抢购】、【图文显示】、【消息通知】、【快递邮寄】六个模块；</li>
	<li>本次升级狂欢活动限量5000人次。其中11月1-7日可以进行预约，限量3000人。11月8日当天抢购限量2000人；</li>
	<li>每次倒计时均进入新页面，根据地址生成新二维码。至少提前2天完成开发，提交给设计团队；</li>
</ol>

<h3>时间安排</h3>
<ul class="ui list">
	<li>【倒计时30天】扫描二维码后进入页面，显示倒计时；</li>
	<li>【倒计时24天】扫描二维码后进入建议收集页面，用户登录后提交关于课程的建议；</li>
	<li>【倒计时17天】扫描二维码后进入建议收集页面，用户登录后提交关于社群的建议；</li>
	<li>【倒计时10天】扫描二维码后进入建议收集页面，用户登录后提交关于老师的建议；</li>
	<li>【倒计时7天】 扫描二维码后进入图文消息页面，介绍【预订】相关内容，并提供预订功能；</li>
	<li>【倒计时6天】 扫描二维码后进入图文消息页面，介绍【App】相关内容，其中包括一个时长在2-3分钟的视频，并提供预订功能；</li>
	<li>【倒计时5天】 扫描二维码后进入图文消息页面，介绍【课程】相关内容，并提供预订功能；</li>
	<li>【倒计时4天】 扫描二维码后进入图文消息页面，介绍【知识保险】相关内容，并提供预订功能；</li>
	<li>【倒计时3天】 扫描二维码后进入图文消息页面，介绍【留声机】相关内容，并提供预订功能；</li>
	<li>【倒计时2天】 扫描二维码后进入图文消息页面，介绍【老师视频】相关内容，其中包括一个时长在5分钟左右的视频，并提供预订功能；</li>
	<li>【倒计时1天】 扫描二维码后进入图文消息页面，总结【以上所有】内容，并提供预订功能；</li>
	<li>【倒计时0天】 扫描二维码后进入抢购页面，选择套餐进行购买；</li>
</ul>

<h3>设计规范</h3>
<ol class="ui list">
	<li>基础页面样式参考微信开源样式库WeUI；</li>
	<li>页面基准色如下：</li>
	<div class="ui labels">
		<div class="ui label" style="background-color: #2b2d30; color: #fff;">黑色 #2b2d30</div>
		<div class="ui label" style="background-color: #fecd40;">黄色 #fecd40</div>
		<div class="ui label" style="background-color: #09bb07; color: #fff;">绿色 #09bb07</div>
		<div class="ui label" style="background-color: #9B9B9B; color: #fff;">深灰 #9b9b9b</div>
		<div class="ui label" style="background-color: #EFEFF4;">浅灰 #efeff4</div>
	</div>
</ol>
