<meta charset="utf-8" />
<h2>建议收集</h2>

<h3>需求</h3>
<ol class="ui list">
	<li>倒计时第24天（10月15日）、第17天（10月22日）、10天（10月29日）使用；</li>
	<li>用户需微信授权并获取微信昵称，在页面中显示；</li>
	<li>三天内容分别为：“课程建议”、“社群建议”、“教师建议”。均为文本形式；</li>
	<li>	若提交建议的用户为<code>会员</code>，需要与已有会员信息进行关联，方便日后根据会员微信号找到相应的建议，并查询每次建议收集的参与情况；</li>
	<li>若提交建议的用户为<code>非会员</code>，则不用进行关联，收集建议即可；</li>
	<li>页面标题均为“1108升级狂欢”；</li>
	<li>页面上方显示倒计时内容。截止时间为2016年11月8日20点整，开始时间为当前时间。数字颜色改为黄色；</li>
	<li class="new">加入音频，见原型图（不需要音量调节），页面打开后不要自动播放；</li>
</ol>

<h3 class="new">文案</h3>
<ol class="ui list">
	<li>
		具体文案内容如下表：
			<table class="ui center aligned celled table">
		<thead>
			<tr>
				<th>时间</th>
				<th>图片</th>
				<th>音频地址</th>
				<th>输入框文字</th>
				<th>输入页</th>
				<th>成功页</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>倒数第24天</td>
				<td><a href="img/resources/24-siqi.jpeg" target="_blank"><img class="ui avatar image" src="img/resources/24-siqi.jpeg"></a></td>
				<td>http://od8eakh5m.bkt.clouddn.com/1108/countdown-3.mp3</td>
				<td>输入你的宝贵意见吧</td>
				<td>我是思齐~ 你希望我们的课程如何改进呢？你还希望听到什么其他的课程呢？</td>
				<td>我收到咯~ 谢谢你的建议！—— 思齐</td>
			</tr>
			<tr>
				<td>倒数第17天</td>
				<td><a href="img/resources/17-ashu.jpeg" target="_blank"><img class="ui avatar image" src="img/resources/17-ashu.jpeg"></a></td>
				<td>http://od8eakh5m.bkt.clouddn.com/1108/countdown-4.mp3</td>
				<td>在这里留言给我吧</td>
				<td>我是阿树~ 你还希望有什么更好的社群活动吗？还希望交到怎样的朋友呢？</td>
				<td>好哒，我收到啦~（比心  —— 阿树</td>
			</tr>
			<tr>
				<td>倒数第10天</td>
				<td>/</td>
				<td>暂无</td>
				<td>在这里留言给我吧</td>
				<td>
					<a href="img/resources/xiapeng.jpg" target="_blank"><img class="ui avatar image" src="img/resources/xiapeng.jpg"></a>夏鹏
					<a href="img/resources/cuimian.jpg" target="_blank"><img class="ui avatar image" src="img/resources/cuimian.jpg"></a>崔冕
					<a href="img/resources/gexu.jpg" target="_blank"><img class="ui avatar image" src="img/resources/gexu.jpg"></a>葛旭
					<a href="img/resources/mat.png" target="_blank"><img class="ui avatar image" src="img/resources/mat.png"></a>Mat
					<a href="img/resources/freddy.jpg" target="_blank"><img class="ui avatar image" src="img/resources/freddy.jpg"></a>FreddyHu
					<a href="img/resources/missQ.png" target="_blank"><img class="ui avatar image" src="img/resources/missQ.png"></a>MissQ
					<br />
					<mark>页面中头像下方显示老师名字。</mark>选择老师后，该头像border变成黄色。用户提交时在文本中添加相应老师的名字，向服务器发送的内容为：用户输入内容+“【夏鹏】”这种形式。成功页面右下角也显示相应的人名。
				</td>
				<td>xxxx ——选择的老师名</td>
			</tr>
		</tbody>
	</table>

	</li>
</ol>

<h3 class="new">原型</h3>
<ul class="ui list">
	<li>界面原型图如下：</li>
	<a href="img/prototype/advice-collect.png" target="_blank">
		<img class="ui bordered image" src="img/prototype/advice-collect.png" />
	</a>
	<a href="img/prototype/advice-collect-10.png" target="_blank">
		<img class="ui bordered image" src="../../img/prototype/advice-collect-10.png" />
	</a>
	<li>原型图中“夏鹏”为用户微信昵称；</li>
</ul>
