<meta charset="utf-8" />
<h2>消息通知</h2>

<h3>需求</h3>
<ol class="ui list">
	<li>通知方式及内容如下表：
		<table class="ui center aligned celled table">
			<thead>
				<tr>
					<th class="two wide">标题</th>
					<th class="four wide">短信</th>
					<th class="four wide">微信公众号文字消息</th>
					<th class="two wide">通知条件</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>直播卡通知</td>
					<td>/</td>
					<td>【若用户已续费】xx你好，感谢你选择继续与友邻优课共度2017年。你是第xx位获得“名师在线分享会”特权的小伙伴哟~ 2017年起，你可以参加每周一次的专属名师在线分享活动，具体活动时间请留意本服务号的通知，期待你的参与呦~ 

						<br />【若用户未续费】Sorry，你还未获得此权限。参加友邻优课升级狂欢活动可免费获得价值520元的名师在线分享会权限哟~参加活动或想单独购买“名师在线分享会”权限请私信阿树老师（微信号：treeism08）</td>
					<td>用户扫描直播卡二维码后</td>
				</tr>
				<tr>
					<td>预订成功</td>
					<td>【友邻优课】恭喜您已成功预订1108升级狂欢活动参与资格！活动于2016年11月8日20点准时开始，不见不散哟~</td>
					<td>亲爱的xx，恭喜您已成功预订1108升级狂欢活动参与资格！活动于2016年11月8日20点准时开始，我在这儿等你哟~</td>
					<td>用户成功支付29元后</td>
				</tr>
				<tr>
					<td>活动通知</td>
					<td>【友邻优课】亲爱的预定会员，1108升级狂欢活动于今晚8点准时开始，请关注友邻优课微信公众号（youlinyouke）获取最新动态。</td>
					<td>/</td>
					<td>已预订用户</td>
				</tr>
				<tr>
					<td>快递发货提醒</td>
					<td>【友邻优课】会员您好，您的升级狂欢大礼包已由【顺丰快递】送出。快递单号为：23423423423。请关注友邻优课微信公众号(youlinyouke)，后台回复“快递@单号”查询进度。</td>
					<td>亲爱的xx，您的升级狂欢大礼包已由【顺丰快递】送出。快递单号为：23423423423。可随时回复“快递@单号”查询物流进度。</td>
					<td>获取到用户快递单号后</td>
				</tr>
			</tbody>
		</table>
	</li>
	<li>上表中“xx”均代表用户微信昵称；</li>
</ol>