<meta charset="utf-8" />
<h2>图文显示</h2>

<h3>需求</h3>
<ol class="ui list">
	<li>倒计时第7天（11月1日）至倒计时第0天（11月8日）之间使用；</li>
	<li>上部固定显示倒计时栏。建议收集页面；</li>
	<li>下部固定显示抢购栏；
		<ol>
			<li>立即预约：按钮，点击后弹出支付提示，进入预定流程；</li>
			<li>金额：预订：27元；总价：史上最低（两行显示，见原型图）；</li>
		</ol>
	</li>
	<li>剩余名额：当天人数限制减去已抢购名额。需要实时显示；</li>
	<li>中间部分每天都会改变。主要是以包含title的通栏形式呈现，基本元素：
		<table class="ui center aligned celled table">
			<thead>
				<tr>
					<th>内容</th>
					<th>样式</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>标题</td>
					<td><img src="img/prototype/title.png" /></td>
				</tr>
				<tr>
					<td>预订</td>
					<td><img src="img/prototype/card.png" /></td>
				</tr>
				<tr>
					<td>专辑图片</td>
					<td><img src="img/prototype/album-card.png" /></td>
				</tr>
			</tbody>
		</table>
	</li>
	<li>每天具体内容如下：
		<table class="ui center aligned celled table">
			<thead>
				<tr>
					<th>时间</th>
					<th>主题</th>
					<th>内容</th>
					<th>原型</th>
					<th>开发截止时间</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>倒计时7天</td>
					<td>预订</td>
					<td>如原型图，图片10月30日确定</td>
					<td>
						<a href="img/prototype/7-order.png" target="_blank">
							<img class="ui bordered small image" src="img/prototype/7-order.png" />
						</a>
					</td>
					<td>10月30日</td>
				</tr>
				<tr>
					<td>倒计时6天</td>
					<td>App宣传片</td>
					<td>文字：待定<br>视频：待定<br>商品信息</td>
					<td>
						<a href="img/prototype/6-app.png" target="_blank">
							<img class="ui bordered small image" src="img/prototype/6-app.png" />
						</a>
					</td>
					<td>10月31日</td>
				</tr>
				<tr>
					<td>倒计时5天</td>
					<td>专辑</td>
					<td>文字：待定<br>专辑卡片：左右滑动，图片和文字待定，最后一张中间显示“更多专辑，即将上线”<br>商品信息</td>
					<td>
						<a href="img/prototype/7-order.png" target="_blank">
							<img class="ui bordered small image" src="img/prototype/5-albums.png" />
						</a>
					</td>
					<td>11月1日</td>
				</tr>
				<tr>
					<td>倒计时4天</td>
					<td>知识保险</td>
					<td>文字+对话+举例+预订</td>
					<td>
						<a href="img/prototype/7-order.png" target="_blank">
							<img class="ui bordered small image" src="img/prototype/4-insurance.png" />
						</a>
					</td>
					<td>11月2日</td>
				</tr>
				<tr>
					<td>倒计时3天</td>
					<td>留声机</td>
					<td>文字+12张杂志封面+预订</td>
					<td>
						<a href="img/prototype/7-order.png" target="_blank">
							<img class="ui bordered small image" src="img/prototype/3-phonograph.png" />
						</a>
					</td>
					<td>11月3日</td>
				</tr>
				<tr>
					<td>倒计时2天</td>
					<td>老师有话说</td>
					<td>文字+视频+预订</td>
					<td>
						<a href="img/prototype/7-order.png" target="_blank">
							<img class="ui bordered small image" src="img/prototype/6-app.png" />
						</a>
					</td>
					<td>11月3日</td>
				</tr>
				<tr>
					<td>倒计时1天</td>
					<td>汇总</td>
					<td>待定</td>
					<td>
						/
					</td>
					<td>11月4日</td>
				</tr>
				<tr>
					<td>倒计时0天</td>
					<td>抢购页</td>
					<td>即抢购页，但是右下角“立即付款”改为“x分x秒后开抢”</td>
					<td>
						/
					</td>
					<td>11月5日</td>
				</tr>
			</tbody>
		</table>
	</li>
</ol>