<meta charset="utf-8" />
<div class="ui stackable two column grid container document">
	<div class="four wide column">
		<div class="ui accordion" style="position:fixed">
			<div class="title" data-id="1"><i class="dropdown icon"></i>概述</div>
			<div class="content">
				<div class="ui list">
					<a class="item">用途</a>
					<a class="item">时间安排</a>
					<a class="item">设计规范</a>
				</div>
			</div>
			<div class="title" data-id="2"><i class="dropdown icon"></i>投票功能</div>
			<div class="content">
				<div class="ui list">
					<a class="item">用户投票</a>
					<a class="item">屏幕显示</a>
				</div>
			</div>
		</div>
	</div>

	<div id="content" class="twelve wide column ui form">
	</div>
</div>

<script>
	loadDocument('party_2016');
</script>
