<meta charset="utf-8" />
<h2>投票功能</h2>

<h3>用户投票</h3>
<ol class="ui list">
	<li>实时显示当前投票情况；</li>
	<li>用户可以<mark>随时</mark>修改自己支持的队伍（正方/反方），每次选择时弹出提醒，确认用户操作；</li>
	<li>设置“发弹幕”功能，点击button后弹出输入框，发布后进入队列，显示在屏幕上；弹幕字数限制20字以内；</li>
	<li>用户选中的按钮边框变为黄色；</li>
	<li>【用户投票】界面原型图如下：
		<a href="img/prototype/operation/party_2016/user-vote.png" target="_blank">
			<img class="ui small bordered image" src="img/prototype/operation/party_2016/user-vote.png" />
		</a>
	</li>
	<li>【用户发弹幕】界面原型图如下：
		<a href="img/prototype/operation/party_2016/user-comments.png" target="_blank">
			<img class="ui small bordered image" src="img/prototype/operation/party_2016/user-comment.png" />
		</a>
	</li>
</ol>

<h3>屏幕显示</h3>
<ul class="ui list">
	<li>在双方辩手发言时，屏幕显示弹幕；在发言结束后页面中间切换为投票对比数据，并每秒刷新；</li>
	<li>【屏幕显示 - 弹幕】界面原型图如下（根据时间顺序，文字从右向左滚动显示，共5行）：
		<a href="img/prototype/operation/party_2016/led-comments.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/operation/party_2016/led-comments.png" />
		</a>
	</li>
	<li>【屏幕显示 - 投票结果】界面原型图如下，中间的黄色边框加波浪效果：
		<a href="img/prototype/operation/party_2016/led-vote.png" target="_blank">
			<img class="ui bordered image" src="img/prototype/operation/party_2016/led-vote.png" />
		</a>
	</li>
</ul>
