<meta charset="utf-8" />
<h2>概述</h2>

<h3>用途</h3>
<ol class="ui list">
	<li>此系统用于友邻同学2016年线下聚会的报名及现场互动使用；</li>
	<li>主要为【投票】模块；</li>
</ol>

<h3>时间安排</h3>
<ul class="ui list">
	<li>【12.08】测试上线；</li>
	<li>【12.09】现场调试（分辨率问题）；</li>
</ul>

<h3>设计规范</h3>
<ul class="ui list">
	<li>页面基准色如下：</li>
	<div class="ui labels">
		<div class="ui label" style="background-color: #2b2d30; color: #fff;">黑色 #2b2d30</div>
		<div class="ui label" style="background-color: #fecd40;">黄色 #fecd40</div>
		<div class="ui label" style="background-color: #4990E2; color: #fff;">蓝色 #4990E2</div>
		<div class="ui label" style="background-color: #D0011B; color:#fff">红色 #D0011B</div>
	</div>
</ul>
